<div class="style2" id="0217">
<div class="title4">■【イベント詳細】2018年2月17日（土）AXELLと風邪を吹き飛ばせスペシャル詳細■</div>

■開催日時：2018年2月17日（土）<br>
■開場 14:45～ 開演 15:00～<br>
■物販開始：13:30～（整列開始13:20）<br>
■イベント内容：ミニライブ＆特典会<br>
■開催場所：JOL原宿<br>
■特典会内容:握手会/撮影会/お医者さんAXELL<br>
 <div class="foot1">2018.2.1</div></div><br>
