<div class="style2">
<div id="0503" class="title4">■「アイドルジェネレーション　橘はるかバースデSP」出演決定！
</div>■
5月3日（木・祝）に東京キネマ倶楽部にて行われる「アイドルジェネレーション」への出演が決定しました!<br>
イベントン名：「アイドルジェネレーション　橘はるかバースデーSP」<br>
■会場：東京キネマ楽部＜住所：東京都台東区根岸1-1-14＞<br>
■OPEN 12:00 / START 12:30（終演20：00予定）<br>
■チケット：前売3,500円/当日：4,000円（販売の有無は前日または当日発表）<br>
※当日別途ドリンク代を頂戴します。<br>

■入場順：前売り券：整理番号→当日券<br>

その他詳細は、<a href=""http://www.radionikkei.jp/idol_generation/ target="_blank">アイドルジェネレーション</a>&nbsp;内をご確認ください。<br>
皆さまぜひ応援にお越しください！<br>
<div class="foot1">2018.4.6</div></div>
