<div class="style2">
<div id="0322" class="title4">■AXELL特典会についてのお願い■</div>
いつもAXELLのイベントにご来場頂きありがとうございます。<br>
<a href="disclaimer" target="_blank"><b><font color="#0b3ced">ガイドライン</font></b></a>を作成いたしました。イベント参加前に必ずご一読くださいます様、よろしくお願い申し上げます。<br>
<div class="foot1"></div></div>
