<div class="style2">
<div id="0207" div class="title4">■THE HOOPERSが出演するSHOWROOMにAXELL参加！■
</div><br>

THE HOOPERSが出演しているSHOWROOMにAXELLも参加します。<br>
<br>
■イベント名： 『仮show空間』<br>
■2018年2月7日（水）20:00～<br>
詳細は、<a href="https://www.showroom-live.com/hoopers?r=a.a0c5d603" target="_blank">SHOWROOM</a>
でをご確認ください。<br>
<br>

<div class="foot1">2018.2.7</div></div><br>

