<div class="style2">
<div id="0305" div class="title4">■「JOL*fes」特典ブロマイド一覧を公開しました■
</div><br>


3月22日開催の「JOL*fes」会場にて、「CALLING」をお買い上げいただいたお客様にはCD1枚後購入につき、全12種類より<br>
ランダムでブロマイド1枚をお渡しいたします。ぜひ、この機会にCDをお求めください！<br>

<div align="center">
<img src="img/info/JOLfes.png" class="img-responsive" width="650" height="650"><br><br></div>


■イベント名： JOL＊fes （ジョルフェス）<br>
■会場：TSUTAYA O-EAST ＜住所：渋谷区道玄坂2-14-8 2F＞<br>
■OPEN 14:00 / START 15:00（予定）<br>
※物販の開始、終了時間については別途お知らせいたします。
<br>

※特典はランダムでのお渡しとなります。お選びいただくことはできません。<br>
※特典なくなり次第終了とさせていただきます。また、予告なく変更になる場合がございます。<br>
あらかじめご了承ください。<br>
※AXELLの握手会、撮影会はございません。<br>

<div class="foot1">2018.3.5</div></div><br>
