<div id="info2016">

<div class="box9">
<p>【イベント詳細】AXELLといい夢見ようスペシャル(開催日：2016年11月5日（土）14：00～ &nbsp;/&nbsp;開催場所：JOL原宿)&nbsp;&nbsp;特典内容：/撮影会/チェキ会（パジャマAXELL）</p></div>

<div class="box9">
<p>【イベント詳細】Leeバースデーイベント！！(開催日：2016年10月10日（月/祝）13：00～ &nbsp;/&nbsp;開催場所：JOL原宿)&nbsp;&nbsp;特典内容：握手会/撮影会/チェキ会（Leeバースデーチェキ会）</p></div>

<div class="box9">
<p>【イベント詳細】夏の7番勝負追加公演！新学期もAXELLと一緒に頑張ろう！スペシャル☆(開催日：2016年9月11日（日）13:00～ &nbsp;/&nbsp;開催場所：JOL原宿)&nbsp;&nbsp;特典内容：握手会/撮影会/チェキ会（学ランAXELL）</p></div>
<div class="box9">
<p>【イベント詳細】夏休み7番勝負 <br>
2016年7月20日 (15：00～) 7番勝負スタート&nbsp;&nbsp;全種購入特典：うちわ／発売開始グッズ：マフラータオル￥1,800<br></p>
2016年7月27日 (15：00～) AXELLからの陣中お見舞い&nbsp;全種購入特典：缶バッチ（AXELL）／参加券3枚：陣中お見舞いサイン会<br></p>
2016年8月03日 (15：00～) もふもふDAY 全種購入特典：缶バッチ（詩音）／参加券3枚：にゃんこAXELLと撮影会<br></p>
2016年8月10日 (15：00～) 詩音＆Lee登場！全種購入特典：缶バッチ（AXELLばなにゃ）／参加券3枚：サイン会（CD)／発売開始グッズ：詩音＆Leeタオル￥600<br></p>
2016年8月17日 (15：00～) AXELL夏祭り 全種購入特典：缶バッチ（Lee）／参加券3枚：夏祭り仕様AXELLと撮影会／発売開始グッズ：チェキくじ￥500<br></p>
2016年8月24日 (15：00～) AXELLと夏の思い出 全種購入特典：缶バッチ（千知）／参加券3枚：7秒ムービー撮影会／発売開始グッズ：AXELLばなにゃシュシュ￥700<br></p>
2016年8月24日 (18：00～) 夜の部☆大人も夏休み 全種購入特典：缶バッチ（千知）／参加券3枚：私服AXELLと撮影会<br></p>
2016年8月24日 (18：00～) 夜の部☆大人も夏休み 全種購入特典：缶バッチ（千知）／参加券3枚：私服AXELLと撮影会<br></p>
2016年8月31日 (15：00～) 全種購入特典：缶バッチ（にゃんこAXELL）<br></p>
開催場所：JOL原宿<br></div>
<div class="box9">
<p>【イベント詳細】『NEXT-ONE!! inBLITZ』（詩音&Lee 出演）(開催日：2016年5月24日 &nbsp;/&nbsp;開催場所：赤坂BLITZ) &nbsp;特典内容：握手会/チェキ会</p></div>
<div class="box9">
<p>【イベント詳細】AXELLイベント(開催日：2016年4月24日（日）17:00～&nbsp;/&nbsp;開催場所：JOL原宿) &nbsp;&nbsp;特典内容：握手会/チェキ会</p></div>
<div class="box9">
<p>【イベント詳細】AXELLの大冒険！Vol.1(開催日：2016年1月30日　第一部15：30～／第二部18：00～&nbsp;/&nbsp;開催場所：JOL原宿)<br>
&nbsp;&nbsp;特典内容：握手会/チェキ会（一部：AXELLからのチョコレートお渡し会、二部：千知お誕生日スペシャル）</p></div>
<div class="box9">
<p>【イベント詳細】New Year Party!!!(開催日：2016年1月3日（日）第一部13：00～／第二部15：30～&nbsp;/&nbsp;開催場所：JOL原宿)<br>
&nbsp;&nbsp;特典内容：握手会/サイン入りポストカードカレンダーお渡し会/チェキ会（一部：おさるさんバージョン二部：謹賀新年袴バージョン）</p></div>
<div class="box9">
<p>【イベント詳細】AXELLライブステージ～会場限定両A面シングルの発売日イベント～(開催日：2015年12月26日（土）&nbsp;/&nbsp;開催場所：JOL原宿)&nbsp;特典内容：握手会/チェキ会</p></div>
<div class="box9">
<p>【イベント詳細】JOL原宿presents AXELL&JMC(じゅみっち)ミニライブ(開催日：2015年11月01日&nbsp;/&nbsp;開催場所：JOL原宿)</p></div>
<div class="box9">
<p>【イベント詳細】JOL原宿presents AXELL＆ZOLA対バンイベント(開催日：2015年09月26日&nbsp;/&nbsp;開催場所：JOL原宿)</p></div>
<div class="box9">
<p>【イベント詳細】JOL原宿presents AXELL&原宿忍者（仮）ミニライブ(開催日：2015年08月15日&nbsp;/&nbsp;開催場所：JOL原宿)</p></div>
<div class="box9">
<p>【イベント詳細】JOL原宿presents AXELL&原宿忍者（仮）ミニライブ(開催日：2015年07月24日&nbsp;/&nbsp;開催場所：JOL原宿)</p></div>
<div class="box9">
<p>【イベント詳細】『アクセルどらま！～青春のSHOOTING STAR～』発売記念ミニライブ＆握手会 (開催日：2015年04月06日&nbsp;/&nbsp;開催場所：JOL原宿)</p></div>
</div>
