<!--ここから-->
  <div class="style2">
  <div id="0830" class="title4">NEW SINGLE【シアワセメロディー】の詳細発表！
</div><br>
     
DISCページに「シアワセメロディー」を追加いたしました。
ジャケット写真、収録曲は<a href="disc">こちら</a>でご覧ください。
<br>

 <div class="foot1">2018.7.31</div></div><br>
<!--ここまで--> 


