<!--ここから-->
  <div class="style2">
  <div id="08114" class="title4">【お知らせ】 8月11日 AXELL 1st ONEMAN LIVE"ハッピーホリデー！"についてのお知らせ
</div><br>

2018年8月11日開催のAXELL 1st ONEMAN LIVE"ハッピーホリデー！"についての注意事項及びグッズ販売に関する詳細をお知らせさせて頂きます。<br><br>

■販売タイミング：先行物販、開場中、終演後（販売商品がある場合のみ）<br>
■販売時間：先行物販9：45〜11：20（整列開始9:30〜）/
開場中11:30〜11：55
 ※スタッフの指示に従ってください<br>
■イベント内容：特典会<br><br>

■商品詳細<br>
◆Tシャツ（サイズ：S/M/L/LL）color: Navy/white ¥2,500<br>
◆ペンライト　14色　¥2,500<br>
◆タオル　¥2,000<br>
◆SPECIAL DVD  ¥2,000<br>
◆CD　「シアワセメロディー」　通常盤Type-B（2曲+ラジオトーク）TMS-358　￥1,200（税込）　※限定数<br><br>

■特典会内容（ご購入の際全額入金が必要になります）<br>
<font color="red"><u>上記すべての物販商品を1,000円お買いあげにつき、特典券を1枚お渡し致します。</font></u><br>

特典券1枚：メンバー全員握手会<br>
特典券2枚：メンバー全員撮影会（お客様の携帯電話・カメラを使用致します）<br>
特典券3枚：チェキ会<br>

※握手会・撮影会・チェキ会　全てメンバー全員参加<br>
※撮影会、チェキ会は、時間の都合によりお一人での撮影のみとさせていただきます。<br><br>

■注意事項<br>

（グッズ販売について）<br>
・お会計は現金のみとさせて頂きます。（クレジットカードは対応しておりません）<br>
・先行物販のみチケットをお持ちでない方でもご購入頂けます。<br>
・販売時間は状況により多少前後する場合もございます。あらかじめご了承ください。<br>
・商品は多数ご用意しておりますが、品切れの際は何卒ご了承ください。<br>
・販売当日は大変混雑が予想されます。係員の誘導に必ず従ってください。<br>
・前日からの整列や、会場、会場周辺での徹夜行為は会場周辺のご迷惑になりますとともに、お客様の安全を守るためにも、一切禁止とさせて頂きます。また、近隣へのご迷惑になりますので、朝早くからの場所取り等もご遠慮ください。<br>
・気温が非常に高くなることが予想されますので、熱中症対策などご自身の体調管理には十分にお気をつけください。<br><br>


（イベントについて）<br>
・イベントへの参加は、ご購入商品の全額ご入金が必要になります。<br>
・ご購入後のキャンセル・返金及び予約商品仕様の変更は一切お受けできませんのでご了承ください。<br>
・特典券の配布は定員に達し次第終了いたします。終了後にご購入後いただいてもお付けできませんのでご注意ください。<br>
・特典券を紛失・盗難・破損された場合、再発行はいたしませんのでご注意ください。<br>
・特典券は会計時、特典会でのスタッフ引渡し時に必ず枚数をお確かめください。
お引渡し時点で同意を持ってのやりとりとみなし、以後の枚数の過不足についてはご対応できかねます。<br>
・特典券はお一人さま何回でもご使用頂けますが、1度に1回の使用とさせていただきます。
2回目をご希望のお客様は、1回目終了後最後尾にお並びいただきますがイベント時間に限りがございます為、枚数によっては
まとめてご案内させていただく場合がございます。<br>
・特典会は列が途切れ次第終了とさせていただきます。終了後のご案内はできません。 スタッフのアナウンスを良くご確認いただけますようお願い申し上げます。<br>
・<font color="red"><u>特典会にご参加される方は、スタッフのアナウンスが聞こえる範囲でお待ちいただくようお願いいたします。
終了のアナウンス後にお並び頂きましても、ご案内できかねます。</font></u><br>
・<font color="red"><u>撮影会はお客様1名さまのみとさせていただきます。</font></u><br>
・特典会において、再度参加される方は、イベントスペースを退出されず、そのまますぐにお並びください。<br>
・特典券は指定日時に限り終演まで有効です。<br>
・10歳以下のお子さまは保護者同伴に限り【イベント参加券】は必要ありません。保護者のお客さまの特典券は必要となります。<br>
・本公演はいかなる機材においても録音/録画/撮影は禁止となっております。<br>
・脚立や台を使用しての観覧はご遠慮ください。<br>
・都合により、内容の変更、イベントの中止等をさせて頂く場合がございますので、あらかじめご了承下さい。<br>
・対象商品の不良以外の返品、返金は出来ませんので、あらかじめご了承下さい。<br>
・安全面、警備強化の一環と致しまして、荷物検査の実施及び、手荷物は所定の場所へ置いていただく場合がございますので、あらかじめご了承ください。<br>
・当イベントは係員がお客様の肩や腕などに触れて誘導する場合があります。ご了承いただける方のみご参加下さい。<br>
・各種イベントは、お並びのお客様の列が途切れ次第終了となります。<br>
・握手会・撮影会では握手以外のお客さまからアーティストに接触する行為(手や肩を組む、ハグなど)は出来ません。
また、ポーズの指定や座り込み、お客さまの私物持込を一切禁止とさせていただきますのでご了承ください。
その他の行為であってもスタッフから注意させて頂く場合がございます。<br>
・撮影会では、お客様の携帯電話、カメラを使用させて頂きます。携帯電話を使用する場合は、基本のカメラ機能のみとなり、
アプリを使った撮影は禁止とさせて頂きます。<br>
・撮影会で撮影した写真は、その場ですぐにご確認お願いいたします。スペース退出後の録り直しはできませんのでご了承ください。<br>
・イベントスペースの都合上、順番待ちのお客様がいらっしゃる状況でも終了となる場合がございます、あらかじめご了承頂きますとともに、 スムーズなご整列にご協力お願いいたします。<br>
・プレゼントBOX廃止に伴い、ファンレター以外のプレゼントはお受け取りをご遠慮させて頂きます。あらかじめご了承ください。<br>
・ファンレター等を本人に直接手渡しする事も禁止とさせて頂きます。ファンレターはファンレターBOXヘお入れください。<br>
・イベント中止・延期の場合、交通費、宿泊費などの補償はできません。<br>
・予想を大きく上回るお客様が来場された場合、会場への入場を制限させて頂きます。<br>

以上の内容をご理解していただける方のみご参加ください。<br><br>

お客様にはご不便をおかけしますが、イベントが安全且つ、お客様・アーティストの笑顔があふれる場所であるよう、
運営スタッフも心掛けてまいりますので、何卒ご理解、ご協力の程をよろしくお願い申し上げます。<br>
皆さまのご来場を心よりお待ちしております。<br>



<br>
 <div class="foot1">2018.8.8</div></div><br>
<!--ここまで--> 


