<!--ここから-->
  <div class="style2">
  <div id="0901" class="title4">【イベント詳細】新星堂 presents「iPop Fes Vol.73」出演決定！
</div><br>

9月1日(土)池袋サンシャインシティ噴水広場にて開催される、新星堂 presents「iPop Fes Vol.73」への出演が決定しました！！<br>
イベント続きのAXELLですが、みなさんぜひぜひ会いに来てください！<br><br>



■開催日時：2018年9月1日（土）<br>
■時間：1部11:00〜 / 2部14:15〜 / 3部17:30〜 <br>
■開催場所：<a href="http://www.sunshinecity.co.jp/information/access_train.html">池袋サンシャインシティ　噴水広場</a>
(住所：〒170-8630　東京都豊島区東池袋3-1-1）<br>


■イベント内容<br>
ミニライブ＆特典会<br>
【観覧】フリー（優先観覧エリア有）【座席】一部有り（女性/ファミリー優先エリア有）<br><br>

【1部】11:00〜東京23区ガールズ/AXELL/ナナランド<br>
【2部】14:20〜callme/さんみゅ〜/2o Love to Sweet Bullet<br>
【3部】17:30〜Pimm's/X21/虹のコンキスタドール<br>

※AXELLの特典会は握手会のみとなります。<br><br>


※本イベントは優先観覧エリア各部入替制となります。<br>
※7周年記念Tシャツ購入で優先エリアプレミアム入場整理券を差し上げます。各部先着25枚となります。<br>
※対象商品のご予約及びご購入で優先エリア通常入場券を差し上げます。<br>
※優先エリア入場整理券は各部プレミアム入場券→で通常入場整理券の順でご入場となります。<br>
※本イベントにつきましては、優先観覧エリア以外の観覧スペースでの過度な応援行為。
（mix、コール、ジャンプまたはそれに準ずる行為）は禁止です。<br>
※特典会対象商品のご予約/購入時間や優先入場エリア集合待機時間などをお守りいただくようお願いいたします。<br>
※当日の特典会の内容は各アーティストHP等でご確認ください。<br>
※優先入場エリアへ入場の際、荷物チェック及び金属探知機によるボディチェックを実施します。<br><br>
 
【ミニライブ観覧方法】<br>
ミニライブは観覧フリーですので、どなたでもご自由にご観覧いただけます。<br>
ただし、ステージ前方に設ける優先観覧エリアでのご観覧には「優先観覧エリア入場整理券」（整理番号入り）が
必要となります。<br><br>


[「優先観覧エリア入場整理券」に関して]<br>
※当日イベント会場に設ける特設CD予約/購入販売コーナーで対象商品をご予約、購入の方に、「優先観覧エリア入場整理券」
をお渡しいたします。<br>
※「優先観覧エリア入場整理券」のお渡しは、ご本人様分1枚のみとさせていただきます。なお、予定枚数が無くなり次第、
終了となります。<br>
※「優先観覧エリア入場整理券」はランダムにお渡しいたします。お渡しする順番と整理番号の順番は無関係ですのでご注意ください。<br>
整理券をお受け取りになるための徹夜待機などは絶対にお止めください。そのような行為が認められた場合、整理券をお渡しできなくなるだけでなく、イベント自体へのご参加をお断りする場合もございます。<br>
※優先観覧エリアには、入場整列の再集合後に「優先観覧エリア入場整理券」の番号順にご入場いただきます。再集合の時間および
場所は「優先観覧エリア入場整理券」に記載されています。必ずご確認ください。<br>
※再集合時間にお越しいただけない方は最後尾にお並びいただきます。あらかじめご了承ください。<br>
※未就学児童につきましても「優先観覧エリア入場整理券」が必要となります。付添いが必要な場合は、未就学児童1名につき
保護者様1名の付き添いが可能です。<br>
※グループでの観覧ご希望の際は、グループ内の整理番号の一番後ろの番号に合わせていただければ、ご一緒にご入場いただけます。<br>
※「優先観覧エリア入場整理券」は優先観覧エリアへご入場いただくだけのものです。「優先観覧エリア入場整理券」では特典会へは
ご参加いただけません。<br>
※シートや物を置いての場所取りは禁止です。優先観覧エリアへの入場後にエリア外に出られた場合は、再度同じ場所にはお戻りいただけません。また、後からお連れの方がいらして割り込むことは絶対にお止めください。<br>
※スタッフがご移動をお願いした場合には、ご協力くださいますようお願いいたします。<br>
※車いすやご事情のあるお客様は、あらかじめスタッフにご相談ください。<br><br>


■販売時間・場所：<br>
噴水広場ステージ　特設CD予約/販売コーナー<br>
<font color="red">1部出演アーティスト⇒10:00〜</font><br>
<font color="red">2部出演アーティスト⇒12:00〜</font><br>
<font color="red">3部出演アーティスト⇒15:00〜</font><br>

サンシャインシティ　噴水広場ステージ　特設CD予約販売コーナー<br><br>

※ご予約及び購入時に、代金の全額をお支払いいただきます。<br>
※1会計で複数枚をご予約購入いただけます。<br>
※予約販売所では現金のみご利用が可能です。クレジットカード及び各種ポイントカードはご利用いただけません。また、駐車場サービスなどの対象外となります。<br>
※商品のお渡しは、発売日以降、新星堂サンシャインシティアルタ店でのお引き取りか、送料600円をいただいてのご自宅までの配送、のどちらかをお選びいただけます。<br>
※時間の関係で予約/販売を終了させていただく場合がございます。あらかじめご了承ください。<br>
※当日、急遽お一人様のご予約/購入枚数制限をさせていただく場合がございます。<br>
※一般販売で外付け特典がある場合でも、イベント会場でのご予約/購入につきましては対象外となる場合がございます。あらかじめご了承ください。<br>
※ご予約/購入のキャンセル、およびご予約/購入いただいたCDのご返品はお受けできません。商品の不良があった場合、返金ではなく良品との交換になります。<br><br>

【基本注意事項】<br>
■当日会場は、大勢のお客様にご参加いただくため混雑が予想されます。スタッフからの指示にご理解とご協力をよろしくお願いいたします。<br>
■天候やトラブル、アーティストの都合により、やむをえずイベントが中止またはメンバーが変更となる場合がございます。あらかじめご了承ください。<br>
■開催時間は若干前後する可能性がございます。<br>
■会場周辺での深夜・早朝の泊り込みは禁止です。また、座り込みや集会等は、他のお客様のご迷惑となりますので、禁止いたします。場合によってはイベントが中止となります。<br>
■手荷物、レジャーシート、その他を使用しての場所取りは禁止です。発見次第、スタッフおよび警備により撤去させていただく場合がございます。なお、撤去した物、および放置されている物に関して主催者・会場・出演者は一切の責任を負いません。<br>
■撮影機器、録音・録画機器・携帯・スマートフォン・携帯ゲーム機による記録行為は一切禁止といたします。<br>
■メンバーへの誹謗中傷、モラルに反する発言・行動は禁止いたします。<br>
■イベント会場内での飲食・喫煙は禁止となっております。喫煙は所定の喫煙エリアをご利用ください。<br>
■危険物や酒類の持ち込み、および飲酒後、酒気帯びでの各種特典会への参加は禁止です。<br>
■ゴミは各自の責任で処理、またはお持ち帰りいただくようお願いいたします。<br>
■会場までの交通費等はお客様ご自身のご負担となります。万が一、イベントが中止になった場合でも条件は変わりません。<br>
■各種参加券・特典券・整理券の再発行は、紛失、盗難等いかなる理由があろうともいたしませんのでご注意ください。<br>
■各種参加券・特典券・整理券の売買は固く禁止いたします。また、偽造・複製等の不正は犯罪ですので、発覚した場合はイベントへの参加をお断りするとともに警察に通報いたします。<br>
■ライブの観覧におきましてモッシュやダイブなど激しいお客様同士の衝突・圧縮行為や、隣前後のお客様にぶつかるようなダンス、他の方の肩などを借りての激しいジャンプやリフト行為は禁止とさせていただきます。<br>
■改造サイリウム（長モノ・閃ブレードなど）・液体サイリウムの使用は禁止とさせていただきます。<br>
■ボード類をお持ちの方は、ご自分の胸より上の高さに掲げないようお願いいたします。後ろの方々が見えなくならないようにご使用ください。<br>
■脚立や台の上に乗った状態でのご観覧はご遠慮願います。<br>
■イベント中、スタッフがお客様の身体や荷物などに触れて誘導する場合がございます。このことをご了承いただけるお客様のみイベントへご参加ください。<br>
■会場内・外で発生した事故・盗難等には主催者・会場・出演者は一切責任を負いません。<br>
手荷物・貴重品は各自で管理してください。<br>
■メンバーへのプレゼントの直接手渡しはご遠慮ください。お手紙はスタッフまたはプレゼントボックスにお預けくださいますようお願いいたします。<br>
■当日の体調・健康管理は各自でおこなってください。体調不良の方がおられましたら、すぐにスタッフまでご連絡ください。<br>
■当日の事故・混乱防止のため、イベントでは様々な制限を設けさせていただく場合がございますので、その際はご了承ください。<br>
■本イベントの安全な運営の為、イベントに参加するにふさわしくないと主催者側が判断した場合、特定のお客様にご参加をお断りする場合がございます。あらかじめご了承ください。<br>
以上の注意事項を守っていただけないお客様、係員の指示に従っていただけないお客様は、会場よりご退場いただきます。<br>
また場合よってはパフォーマンスの一時中断、中止もございますので予めご了承ください。<br>
会場にいらしたお客様皆様がイベントを楽しめるよう、ファンの皆様同士でルールとマナーの厳守をお願いいたします。<br><br>
イベントはお客様のご理解とご協力のもと、実施できています。注意事項をしっかり守って楽しいイベントにしましょう。<br>


 <div class="foot1">2018.8.20</div></div><br>
<!--ここまで--> 


