<!--ここから-->
  <div class="style2">
  <div id="090926" class="title4">【出演情報】千知がアニソンカバーコンピレーションアルバムの楽曲セレクトとジャケットモデルを務めました。
</div><br>

On A Roll Recordsさんから発売のアニソンカバーコンピレーションアルバム<a href="https://www.animate-onlineshop.jp/pn/%E3%80%90%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%80%91%23%E5%83%95%E3%81%A8%E3%82%A2%E3%83%8B%E3%82%BD%E3%83%B3%E3%81%AA%E3%81%86%E3%81%AB%E4%BD%BF%E3%81%A3%E3%81%A6%E3%81%84%E3%81%84%E3%82%88/pd/1561344/">『＃僕とアニソンなうに使っていいよ』</a>の楽曲セレクト＆ジャケットモデルを千知が務めました。<br>
CDにはラッキーホリデーも収録されています！ぜひチェックしてください。<br>


 <div class="foot1">2018.8.31</div></div><br>
<!--ここまで--> 


