<!--ここから-->
<div class="style2">
<div id="08112" class="title4">【お知らせ】2018年8月11日 AXELL 1st ONEMAN LIVE "ハッピーホリデー！" にて「シアワセメロディー」先行販売決定!</div><br>

発売日にさきがけて、「シアワセメロディー」通常盤TypeBの先行販売をいたします！いち早くCDがゲットできるチャンスです！<br>
ぜひライブ会場で手に入れてくださいね!<br>
（※なお、事前にご予約いただきました分の引取りは8/29に開催されるJOL原宿イベント会場にて行ないます)<br>
<br>


 <div class="foot1">2018.7.25</div></div><br>


