<!--ここから-->
  <div class="style2">
  <div id="0820" class="title4">【イベント詳細】「TSUTAYA O-EAST SUMMER BONUS LIVE!!-夢千乱舞-」出演決定！
</div><br>

8月20日(月)にイベントへの参加が急遽決定しました！<br>
ぜひ、AXELLを応援しに来てください！<br><br>


■公演タイトル：アキシブproject presents「TSUTAYA O-EAST SUMMER BONUS LIVE!!ｰ夢千乱舞-」<br>
■開催日時：2018年8月20日（月）<br>
■開場&nbsp;14:10／開演&nbsp;15:10<br>
■開催場所：<a href="http://shibuya-o.com/east" target="_blanc"/>TSUTAYA O-EAST</a><br>
■チケット：前売：1000円（別途1ドリンク）/当日：1500円（別途1ドリンク）<br><br>
チケットの詳細、問い合わせに関しては<a href="https://tiget.net/events/34807" target="_blanc">こちら</a>でご確認ください<br>

※この日の特典会は、握手会のみとなります。<br>

 <div class="foot1">2018.8.14</div></div><br>
<!--ここまで--> 


