<!--ここから-->
<div class="style2">
<div id="0811v" class="title4">【お知らせ】「シアワセメロディー」のメイキングダイジェスト映像を公開!</div><br>


「シアワセメロディー」のメイキング映像のダイジェスト映像を<a href="video">VIDEO</a>ページに公開いたしました！<br>
さらに詳しいメイキング映像は、ONEMAN LIVEにて販売されるスペシャルDVDに収録されています。ぜひライブ会場で手に入れてください!<br>
<br>


 <div class="foot1">2018.8.3</div></div><br>


