<!--ここから-->
  <div class="style2">
  <div id="08115" class="title4">【お知らせ】1st ONEMAN LIVE「ハッピーホリデー！」 開催にあたり皆さまへのお願い 
</div><br>

2018年8月11日 1st ONEMAN LIVE「ハッピーホリデー！」につきまして、お越し頂く皆さまに楽しんで頂けますよう、下記のご一読をお願いいたします。<br><br>



■営利を目的として、第三者にチケットを販売ないし譲渡する事は禁止です。 正規購入以外で入手されたチケットに関するトラブルには、主催者は一切責任を負いかねます。<br>
■整理番号等から、チケットが正規ルート以外で入手された可能性があると判断された場合は、本人確認書類のご提示をお願いする場合がございます。（免許証・保険証等） <br>
■正規ルート以外から入手されたチケットだと判断された場合、ご入場をお断りする可能性がございます。<br>
■チケットは如何なる事情であっても再発行は致しません。<br>
<u>■場内では、必ず係員の指示に従って頂きますようお願いいたします。従っていただけない場合退場いただく場合もございます。</u><br>
■イベント中はいかなる機材においても録音・録画・撮影は禁止となっております。 該当する行為を発見した場合、データの消去、または機材等を没収とさせていただきます。<br>
■都合により、内容の変更、イベントの中止等をさせて頂く場合がございますので、あらかじめご了承下さい。<br>
■安全面、警備強化の一環と致しまして、荷物検査をさせて頂く場合がございますので、あらかじめご了承ください。また、床に荷物を置くことは禁止とさせて頂きます。<br>
 大きな荷物をお持ちの方は、コインロッカー等に預けた上でのご入場をお願いいたします。 場内は混雑が予想されますので、身軽な格好でのご入場にご協力ください。<br>

■係員がお客様の肩や腕などに触れて誘導する場合があります。ご了承いただける方のみご参加下さい。<br>
■物販商品は、不良以外の返品・返金・交換は出来ませんので、あらかじめご了承下さい。 また、商品は売り切れ次第販売終了となります。<br>
■プレゼントBOX廃止に伴い、ファンレター以外のプレゼントはお受け取りをご遠慮させて頂きます。あらかじめご了承ください。<br>

■会場周辺での前日からの泊り込みや、早朝からの順番待ち等の行為は禁止とさせて頂きます。 入退場や整列の際は係員の指示に従い、大声で騒ぐ、道を塞ぐ等、近隣へのご迷惑になる行為はおやめください。<br>
■イベント中止・延期の場合、交通費、宿泊費などの補償はできません。<br>
■公演中の携帯電話の使用は一切禁止となりますので、電源をお切りください。<br>
■公演中に出たゴミは会場設置のゴミ箱か、各自でお持ち帰り下さい。<br>
■会場内・周辺路上での喫煙は禁止とさせていただきます。<br>
■会場内での場所取り、円陣を組んだりするような大幅なスペースの確保、整理番号を無視した前方への割り込みは禁止とさせていただきます。<br>
■手やタオル、ペンライト等を振る際は、周りのお客様のご迷惑にならないよう十分ご注意ください。<br>
■ステージへの駆け寄り、押し寄せ等、他のお客様へ危害が加わる行為は禁止とさせていただきます。 上記の行為により起こった事故・事件・負傷等のトラブルに関して、主催者、会場並びに出演者は一切関与・及び責任を負いません。すべて当事者間での解決をお願い致します。<br>
■公演中に気分が悪くなられた場合は、無理をせず退避をお願いいたします。また、周囲にそのような方を見かけた場合には、退避へのご協力をお願いいたします。<br>
■他のお客様のご迷惑になったり、運営・公演の妨げとなる以下の行為を禁止し、確認が取れ次第 退場していただきますので予めご了承下さい。<br>
■公演中に危険行為が頻繁した場合、公演を中断または中止とする場合があります。 また、危険行為により怪我をされた場合も自己責任とし、主催者・会場・出演者は責任を負いかねます。<br><br>

以上の内容をご理解していただける方のみご参加ください。<br>
本公演がお客様・アーティストの笑顔があふれる場所であるよう、運営スタッフも心掛けてまいりますので、 何卒ご理解、ご協力の程をよろしくお願い申し上げます。<br>
皆さまのご来場を心よりお待ちしております。<br>

<br>
 <div class="foot1">2018.8.9</div></div><br>
<!--ここまで--> 


