<!--ここから-->
  <div class="style2"><br>
  <div id="0614" class="title4">【イベント詳細】6月14日（木）に行われる公開録画イベント「SHIBUYA X-TREME VOL.3 GIRLS' LIVE STORM」への出演が決定しました！</div><br>

■イベント名：「SHIBUYA X-TREME VOL.3 GIRLS' LIVE STORM」<br>
■会場：渋谷VUENOS&nbsp;＜住所：〒150-0043 東京都渋谷区道玄坂2-21-7＞<br>
■OPEN 16:00 / START 16:30<br>
■出演者：AXELL、なめんなよ原宿、ULTRA他 (順不同)<br><br>
■チケット：前売￥2,500 / 当日￥3,000&nbsp;オールスタンディング※当日別途ドリンク代を頂戴します。<br>
■チケット発売期間：2018年5月24日(木)12：00～受付開始<br>
■チケット発売：<a href="https://tiget.net/events/27664??">TIGET</a>にて受付<br>
■問合せ：SHIBUYA　X-TREME　TEL_070-1467-8468<br><br>
■放送局：テレビ埼玉<br>
■放送番組：夢劇場音楽堂（毎週水曜日朝5時30分～放送）内<br>
&nbsp;Dream Theaterコーナー（5時55分～5時59分）にてライブ映像を一部オンエア<br>
■放送日：7月4日<br>
その他You Tube内SHIBUYA X-TREMEチャンネルにて 7月4日～配信予定<br>


★物販：イベント当日は2018年8月発売の新曲予約受付のみ行ないます。<br>
（商品詳細）<br>
◆CD　2018.8月発売新曲　通常盤Type-A（2曲+フリートーク）TMS-357　￥1,200（税込）<br>
◆CD　2018.8月発売新曲　通常盤Type-B（2曲+ラジオトーク）TMS-358　￥1,200（税込）<br><br>

■特典会内容：（ご購入の際全額入金が必要になります）<br>
物販商品を一点ご予約・ご入金につき、特典券を1枚お渡し致します。<br><br>

特典券1枚：メンバー全員握手会　※この日は握手会のみとなります。<br><br>
皆さまぜひ応援にお越しください！<br>




<div class="foot1">2018.5.07</div></div><br>

<!--ここまで-->
