<!--ここから-->
  <div class="style2">
  <div id="1011" class="title4">【イベント詳細】10月11日（木）に行われる収録イベントTOKYO MX「おはよう！アイドル長屋REMIX収録イベントvol.6」への出演が決定しました！</div><br>

■イベント名：「おはよう！アイドル長屋REMIX　収録イベント vol.6」<br>
■公演日：2018年10月11日（木）<br>
■会場：渋谷Glad&nbsp;＜住所：〒150-0043 東京都渋谷区道玄坂2-21-7＞<br>
■OPEN 17:00 / START 17:30<br>
※AXELLの出演時間は18:00〜18:15となります。<br>
また、特典会は18:15〜18:45と短くなっておりますので、お早めにご整列お願いいたします。<br><br>
※また、当日の公開収録トークコーナは17:30〜18:00となります。<br>


■出演者：AXELL、TOYZ、34644project、G-COMPLEx、大宮I★DOLL、リトル★オズ、Re:LAYｚ、神田いより、なるせまこ<br><br>
■チケット：前売￥2,000 / 当日￥2,500&nbsp;オールスタンディング※当日別途ドリンク代を頂戴します。<br>
■チケット発売：<a href="https://tiget.net/events/36885" target="_blank">TIGET</a>にて受付<br>
■問合せ：SHIBUYA　X-TREME　TEL_070-1467-8468<br><br>
■放送番組：TOKYO MXテレビ「おはよう！アイドル長屋REMIX」（毎週火曜28時30分～29時放送）内<br>
その他You Tube内おはよう！アイドル長屋REMIXチャンネルにて配信予定<br>

■放送日：10月16日／10月23日／10月30日<br>
※番組内でのオンエアの他に、You Tube「SHIBUYA X-TREME チャンネル」内での配信も予定されています。<br>

※この日は握手会のみとなります。<br><br>
皆さまぜひ応援にお越しください！<br>

<div class="foot1">2018.9.18</div></div><br>

<!--ここまで-->
