<!--ここから-->
  <div class="style2">
  <div id="1011" class="title4">【イベント詳細】10月20日（土）に行われる収録イベントTOKYO MX「おはよう！アイドル長屋REMIX収録イベントvol.8」への出演が決定しました！</div><br>

■イベント名：「おはよう！アイドル長屋REMIX　収録イベント vol.8」<br>
■公演日：2018年10月20日（土）<br>
■会場：渋谷VUENOS&nbsp;＜住所：〒150-0043 東京都渋谷区道玄坂2-21-7＞<br>
■OPEN 12:00 / START 12:30(予定）<br>
※AXELLの出演時間が後日発表致します。<br>

■出演者：AXELL、久保田光、D-CORE、i*chip_memory、ワタシ、ムゲンダイ、TOYZ、34644project、11/4、高島平ミルフィーユ、情熱Dream､シブヤDOMINION他<br><br>
■チケット：前売￥2,500 / 当日￥3,000&nbsp;オールスタンディング※当日別途ドリンク代を頂戴します。<br>
■チケット発売：<a href="https://tiget.net/events/36888" target="_blank">TIGET</a>にて受付<br>
■問合せ：SHIBUYA　X-TREME　TEL_070-1467-8468<br><br>
■放送番組：TOKYO MXテレビ「おはよう！アイドル長屋REMIX」（毎週火曜28時30分～29時放送）内<br>
その他You Tube内おはよう！アイドル長屋REMIXチャンネルにて配信予定<br>

■放送日：11月6日／11月13日／11月30日／11月27日／<br>
※番組内でのオンエアの他に、You Tube「SHIBUYA X-TREME チャンネル」内での配信も予定されています。<br>


※この日は握手会のみとなります。<br><br>
皆さまぜひ応援にお越しください！<br>

<div class="foot1">2018.9.18</div></div><br>

<!--ここまで-->
