<!--ここから-->
<div class="style2">
<div id="09272" class="title4">
【お知らせ】TOKYO MXテレビ「おはようアイドル長屋REMIX」にAXELLのレギュラー出演が決定しました！</div><br>


10月2日から放送がスタートするアイドル専門の情報番組内で
AXELLがレギュラーコーナーを担当することになりました。<br>
ぜひチェックしてください！<br><br>


番組タイトル：TOKYO MXテレビ「おはようアイドル長屋REMIX」<br>
放送日：毎週火曜28時30分〜29時放送<br><br>

 <div class="foot1">2018.9.10</div></div><br>


