<!--ここから-->
  <div class="style2">
  <div id="0927" class="title4">
【イベント詳細】TOKYO MX「おはよう！アイドル長屋REMIX 収録ライブ VOL.4」出演決定！
</div><br>

10月2日〜レギュラー出演させていただくことになった、「おはよう！アイドル長屋REMIX」の公開録画イベントが決定しました！<br>
こちらもぜひチェックしてくださいね。<br><br>

■公演タイトル：TOKYO MX　おはよう！アイドル長屋REMIX 収録ライブ VOL.4　MXテレビ公開録画イベント<br>
■開催日時：2018年9月27日(木)<br>
■開場／開演：16:30 ／17:00<br>
※AXELLの出演時間は18:15〜18:35となります。<br>
物販、特典会は18:35〜19:05となり、開催時間が短くなっております。参加希望の方はお早めにご集合ください。<br>
また、開催時間の延長はございませんので、予めご了承ください。<br><br>

■出演者：AXELL、CANDY GO!GO!､しながわ学院エンタ部、久保田光、ニコニコ♡LOVERS、ニコニコ♡STREET、99％LOVER、鬼塚真紀、STEM（仮）他<br>

■開催場所：<a href="http://vuenos.iflyer.jp/venue/access" target="_blank"  >VUENOS</a>（渋谷区道玄坂2-21-7)<br>

■チケット代：前売¥2,000 当日¥2,500 +1D オールスタンディング<br>
■チケット販売：<a href="https://tiget.net/events/35692" target="_blank">TIGEiT</a><br>
■イベント内容：ミニライブ＆特典会<br>
※AXELLの特典会は握手会のみとなります。<br><br>

■放送日：10月2日／10月9日／10月16日／10月23日／10月30日<br>
※番組内でのオンエアの他に、You Tube「SHIBUYA X-TREME チャンネル」内での配信も予定されています。<br>
<br><br>


 <div class="foot1">2018.9.10</div></div><br>
<!--ここまで--> 


