<!--ここから-->
  <div class="style2">
  <div id="10293031" class="title4">【イベント詳細】10月29日（月）〜31日（水）の間に行われるSHIBUYAアルティメットハロウィン2018への出演が決定しました！
</div><br>

■イベント名：「SHIBUYAアルティメットハロウィン2018」<br>
■公演日：2018年10月29日（月）〜31日（水）<br>
■会場：渋谷ライブハウス（会場は決定次第発表致します）&nbsp;<br>
■開催時間：未定<br>
※AXELLの出演日時は後日発表致します。<br>

チケット：前売￥4,500 / 当日￥5,500&nbsp;※当日別途ドリンク代を頂戴します。<br>
詳細は<a href="http://halloween.x0.com/" target="_blank">SHIBUYAアルティメットハロウィン2018公式ページ</a>にてご確認ください<br>

ぜひ、AXELLに会いに来てください！

<div class="foot1">2018.10.09</div></div><br>

<!--ここまで-->
