<!--ここから-->
<div class="style2">
<div id="0928" class="title4">【イベント詳細】2018年9月28日（金）CD「＃僕とアニソンなうに使っていいよ」発売記念トーク＆握手・特典お渡し会に千知出演決定!!　</div><br>


9月28日（金）アニメイト新宿さんにて開催されるイベントに千知の出演が決定いたしました。<br>

■開催日時 : 2018年09月28日（金）<br>
■座席抽選時間 18:30〜 開場 18:30〜 開演 19:00〜<br> 
■内容：トーク＆握手・特典お渡し会<br>
■会場：アニメイト新宿　B2F animate hall SHINJUKU<br>
■出演：千知<br>

詳しくは<a href="https://www.animate-onlineshop.jp/contents/fair_event/detail.php?id=101265"  target="_blank">アニメイト新宿</a>にてご確認ください。<br>

<br>
 <div class="foot1">2018.9.18</div></div><br>
<!--ここまで--> 


