<div id="info2018">


<!--ここから-->
<div class="box9">
<div class="title4">2018年5月6日(日）AXELLとゴールデンウィークのお出かけスペシャル詳細決定！</div><br>

■開催日時：2018年5月6日（日）<br>
■開場 12:45～ 開演 13:00～<br>
■物販開始：11:30～（整列開始11:20）<br>
■イベント内容：ミニライブ＆特典会<br>
■開催場所：JOL原宿<br><br>
■特典会内容:握手会/撮影会/チェキ会（パイロットAXELL）<br>
 <div class="foot1">2018.4.12</div></div><br>
<!--ここまで--> 



<div class="box9">
<div class="title4">■「アイドルジェネレーション　橘はるかバースデSP」出演決定！</div>

イベントン名：「アイドルジェネレーション　橘はるかバースデーSP」<br>

■開催日時：2018年5月3日（木・祝）<br>
■会場：東京キネマ楽部＜住所：東京都台東区根岸1-1-14＞<br>
■OPEN 12:00 / START 12:30（終演20：00予定）<br>
その他詳細は、<a href=""http://www.radionikkei.jp/idol_generation/ target="_blank">アイドルジェネレーション</a>&nbsp;内をご確認ください。<br>
皆さまぜひ応援にお越しください！<br>
<div class="foot1">2018.4.6</div></div>

	

<div class="box9">
<div class="title4">2018年4月1日（土）AXELLとお花見スペシャル　詳細決定！</div><br>

■開催日時：2018年4月1日（日）<br>
■開場 12:45～ 開演 13:00～<br>
■物販開始：11:30～（整列開始11:20）<br>
■イベント内容：ミニライブ＆特典会<br>
■開催場所：JOL原宿<br><br>

■特典会内容:握手会/撮影会/チェキ会（桜和装AXELL）<br>

<div class="foot1">2018.3.22</div></div>



	
<div class="box9">
<div class="title4">■「JOL*fes」特典ブロマイド一覧を公開しました■</div>

<div class="pull-right">
<img src="img/info/JOLfes.png" class="img-responsive" width="300" height="300"><br><br></div>

3月22日開催の「JOL*fes」会場にて、「CALLING」をお買い上げいただいたお客様にはCD1枚後購入につき、全12種類よりランダムで<br>
ブロマイド1枚をお渡しいたします。ぜひ、この機会にCDをお求めください！<br><br>


■イベント名：JOL＊fes（ジョルフェス）<br>
■開催日：2018年3月22日（木）
■イベント名： JOL＊fes （ジョルフェス）<br>
■会場：TSUTAYA O-EAST ＜住所：渋谷区道玄坂2-14-8 2F＞<br>
■OPEN 14:00 / START 15:00（予定）<br>
※物販の開始、終了時間については別途お知らせいたします。<br><br>


※特典はランダムでのお渡しとなります。お選びいただくことはできません。<br>
※特典なくなり次第終了とさせていただきます。また、予告なく変更になる場合がございます。あらかじめご了承ください。<br>
※AXELLの握手会、撮影会はございません。<br>

<div class="foot1"></div></div>
</div>


<div class="box9">

<div class="title4">■「JOL*fes」出演決定！■</div>
■イベント名：JOL＊fes（ジョルフェス）<br>
■開催日：2018年3月22日（木）
■会場：TSUTAYA O-EAST ＜住所：渋谷区道玄坂2-14-8 2F＞<br>
■OPEN 14:00 / START 15:00（予定）<br>
■チケット：\3,800&nbsp;(税込)<br>
※当日別途ドリンク代を頂戴します。<br>
■チケット発売日：2月10日(土)10:00よりプレイガイドにて販売<br>
その他詳細は、<a href="https://teens.mynavi.jp/jolfes2018/" target="_blank">JOL＊fesオフィシャルホームページ</a>&nbsp;内をご確認ください。<br>
皆さまぜひ応援にお越しください！<br>
<div class="foot1">2018.1.31</div></div>


<div class="box9">
<div class="title4">【イベント詳細】AXELLと風邪を吹き飛ばせスペシャル</div>
開催日：2018年2月17日（土）15:00～&nbsp;/&nbsp;開催場所：JOL原宿)&nbsp;&nbsp;
特典内容：握手会/撮影会/お医者さん AXELL</div>


<div class="box9">
<div id="0207" div class="title4">■THE HOOPERSが出演するSHOWROOMにAXELL参加！■</div>
THE HOOPERSが出演しているSHOWROOMにAXELLも参加します。<br>
■イベント名： 『仮show空間』<br>
■2018年2月7日（水）20:00～<br>
詳細は、<a href="https://www.showroom-live.com/hoopers?r=a.a0c5d603" target="_blank">SHOWROOM</a>
をご確認ください。<br>
<div class="foot1">2018.2.7</div></div>


<div class="box9">
<div class="title4">1月14日（日）JOL原宿でのイベント中止のお知らせ</div>
いつもAXELLへの応援をありがとうございます。<br>
今週に入り、メンバーの翔、およびスタッフがインフルエンザを発症いたしました。<br>
その為、1月14日（日）JOL原宿で開催を予定しておりましたイベントについて<br>
メンバー自身が治療に専念するため、また、お客様への感染防止のためにも<br>
誠に勝手ながら、急遽中止にすることに致しました。<br>
楽しみにしてくださっていました皆様には誠に申し訳ございませんがご理解の程、何卒よろしくお願いいたします。<br>
次回イベントについては、2月17日（土）を予定しております。<br>
詳細は後日発表させて頂きます。<br>
</div>


<div class="box9">
<div class="title4">【イベント詳細】ザ・フーパーズ TOUR FANTASIA 2017/2018にAXELL出演決定！</div>
■開催日：2018年1月2日（火）～新年会SP～<br>
■開催時間：1部（開場）12:30／（開演）13:00　 2部（開場）16:00/（開演）16:30<br>
■開催場所：渋谷Duo Music Exchange<br>
■チケット：オールスタンディング\4,000　(税込・入場時別途ドリンク代必要・整理番号付き)<br>
※6歳未満入場無料・小学生以上有料 / 小学生以下は要保護者同伴<br>
※AXELLはオープニングアクトでの出演となります。<br>
<div class="foot1">2017.11.12</div>


</div>
