<!--ここから-->
  <div class="style2">
  <div id="0909" class="title4">【イベント詳細】ノタFES 2018スペシャル特典会開催決定！
</div><br>

9月9日(日)に出演させていただく「ノタFES 2018」特典会の詳細をお知らせ致します。<br>
この日は握手会に加えて、スペシャル特典会『AXELLと園内ツアー』の開催が決定いたしました！！<br>
いつもAXELLを応援してくださる皆さまと、遠足気分で東武動物公園を楽しみたい！<br>
ということで、この日だけのスペシャル特典です！
ぜひお越しください。<br><br>

■スペシャル特典会<br>
開催日時 : 2018年9月9日（日）15:00〜15:30<br>
※物販・握手会は13:30〜14:30 物販Eスペースで行ないます。<br><br>

■内容<br>
AXELLメンバー全員とめぐる園内ツアー。参加者全員とメンバーとの集合写真１枚撮影。<br><br>

■集合場所<br>
<a href="http://www.tobuzoo.com/guide/" target="_blank"/>
東武動物公園　観覧車エマさんのチーズ風車前</a><br><br>


■ご参加条件<br>
ノタFES 2018のチケット提示と特典券3枚<br>
※物販スペースにてCD1枚ご購入事に特典券1枚をお渡しいたします<br><br>

■注意事項<br>
・お客様からアーティストへの接触行為は禁止させていただきます。<br>
・ご参加いただいた皆さまがメンバーとお話できますよう、長くお話されている場合は
スタッフがお声かけさせていただく場合がございます。<br>
・係員がお客様の肩や腕などに触れて誘導する場合があります。ご了承いただける方のみご参加下さい。<br>
・特典会参加中のお客様のカメラ使用は禁止とさせていただきます。<br>
・都合により、内容の変更、イベントの中止等をさせて頂く場合がございますので、あらかじめご了承下さい。<br>
・他のお客様のご迷惑になったり、運営妨げとなる行為を禁止し、そのような行為が確認取れた場合は退場していただきますので予めご了承下さい。<br>
・大きなお荷物をお持ちの場合はコインロッカー等に預けていただき、動きやすい恰好でご参加ください。<br>
・物販商品は売り切れ次第終了させていただきます。<br>
・その他注意事項は、AXELLイベントでの共通<a href="disclaimer" target="_blank">ガイドライン</a>をご一読ください。<br><br>

みなさまのご参加お待ちしております。<br><br>

■イベント公式サイト<a href="https://www.notafes.com">：ノタFES</a><br><br>

 <div class="foot1">2018.09.04</div></div><br>
<!--ここまで--> 


