<!--ここから-->
<div class="style2">
<div id="20190203" class="title4">【ライブ詳細】2019年2月3日 AXELL 2nd ONEMAN LIVEが決定しました!</div><br>

先日初のワンマンライブを終えたばかりのAXELLですが、早くも2ndワンマンライブが決定いたしました!<br>
今から予定空けておいてくださいね！<br>
<br>
【ライブ詳細】<br>
■開催日時：2019年2月3日（日）<br>
■会場：<a href= "https://www.live-loop.com/">代官山LOOP</a> <br>
■1部：碧生誕祭、2部：千知生誕祭<br>

 <div class="foot1">2018.8.13</div></div><br>


