<div class="container-fluid">
<div class="row">
<div class="col-lg-12">


<div class="movie-wrap">

<iframe width="560" height="315" src="https://www.youtube.com/embed/DuPRYhdunNg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>


<div class="title32"><%=vid.V0001%><br>
<%=vid.V0003%>&nbsp;<%=vid.VS001%>


</div>

</div>
</div>
</div>


