<div class="container-fluid">
<div class="row">
<div class="col-sm-12">

<div class="movie-wrap">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Di2Z0_2EGro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="title32"><%=video.V0004%><br>                    
<%=video.V0003%>&nbsp;
2016.08.30 公開


</div>

</div>
</div>
</div>

