<div class="box1" style="color:black">
<div class="sam5">
<img class="img-responsive" src="img/cd/340.png" alt=""/>
<div class="mask">
<div class="box10">
<div class="caption1">Single </div>
<div class="caption2">ラッキーホリデー<br>
(ばなにゃ盤)</div>
</div>
</div>
</div>
</div>
