<div class="box1" style="color:black">
<div class="sam5">
<img class="img-responsive" src="img/cd/356.png" alt=""/>
<div class="mask">
<div class="box10">
<div class="caption1">Single </div>
<div class="caption2">CALLING<br>
(Type-B)</div>
</div>
</div>
</div>
</div>
