.box1 {
    display: inline-block;
    text-align: center;
}
/*ディスコグラフィー　hover--------------------------------- */

.sam5 {
	overflow:		hidden;
	position:		relative;
}
.sam5 .caption1 {
	font-size:		130%;
	font-family: 'Poppins', sans-serif;
	border-bottom: dotted 1px #ffffff;
	color:			#ffffff;
	padding-top:		 30px;
	padding-left:		-78px;
}

.sam5 .caption2 {
	font-size:140%;
	align-content:flex-start;
	font-family: 'Poppins', sans-serif;
	color:			#fff;
	padding-top:		10px;
	padding-left:		0px;

}

.sam5 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	background-color:	rgba(0,0,0,0.7);
	-webkit-transition:	all 0.1s ease;
	transition:		all 0.1s ease;
	-webkit-transform:	scale(0);	/* 大きさを０にして表示しない */
	transform:		scale(0);
}
.sam5:hover .mask {
	-webkit-transform:	scale(1);	/* 大きさを１にして表示する */
	transform:		scale(1);
}


/*ディスコグラフィー　hover内　四角--------------------------------- */

.box10 {
    height: 92%;
	align-content: space-between;
	justify-content: center;
    padding: 10px 20px 70px 20px;
    margin: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #ffffff;
}
.box10 p {
    margin: 0; 
    padding: 0;
    text-align:center;
}

/* ディスコグラフィー　リンク文字--------------------------------- */

t1 {color:#ffffff;}



