.box1 {
    display: inline-block;
    text-align: center;
}
/*$B%G%#%9%3%0%i%U%#!<!!(Bhover--------------------------------- */

.sam5 {
	overflow:		hidden;
	position:		relative;
}
.sam5 .caption1 {
	font-size:		80%;
	font-family: YuGothic,'Yu Gothic','Ebrima',sans-serif;
	border-bottom: dotted 1px #ffffff;
	color:			#ffffff;
	padding-top:		 0px;
	padding-left:		-78px;
}

.sam5 .caption2 {
	font-size:1.5vw;
	font-size:1.5vh;
	line-height:120%;
	align-content:flex-start
	font-family: YuGothic,'Yu Gothic','Ebrima',sans-serif;
	
	
	color:			#fff;
	padding-top:		10px;
	padding-left:		0px;

}
.sam5 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	background-color:	rgba(0,0,0,0.7);
	-webkit-transition:	all 0.1s ease;
	transition:		all 0.1s ease;
	-webkit-transform:	scale(0);	/* $BBg$-$5$r#0$K$7$FI=<($7$J$$(B */
	transform:		scale(0);
}
.sam5:hover .mask {
	-webkit-transform:	scale(1);	/* $BBg$-$5$r#1$K$7$FI=<($9$k(B */
	transform:		scale(1);
}


/*$B%G%#%9%3%0%i%U%#!<!!(Bhover$BFb!!;M3Q(B--------------------------------- */

.box10 {
    height: 92%;
	align-content: space-between;
	justify-content: center;
    padding: 10px 20px 70px 20px;
    margin: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #ffffff;
}
.box10 p {
    margin: 0; 
    padding: 0;
    text-align:center;
}

/* $B%G%#%9%3%0%i%U%#!<!!%j%s%/J8;z(B--------------------------------- */

t1 {color:#ffffff;}


[class^="img-flex-"] {
	margin-bottom: 20px;
	display: -webkit-flex;
	display: flex;
	flex-direction:center
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.img-flex-2 img { width: 100%; height: 100%; }
.img-flex-3 img { width: 100%; height: 100%; }
.img-flex-4 img { width: 100%; height: 100%; }


.cont {
  display: flex;
}

.title7{
       	border-bottom: dotted px #000000;
	color:			#000000;
	padding-top:		 40px;
	padding-left:		 0px;
	line-height:1.2em;
}


.title8{
       	border-bottom: dotted px #ffffff;
	color:			#000000;
	padding-top:		 0px;
	padding-left:		 0px;
}

.box11 {
    padding: 0em 0.5em;
    margin: 0.5em 0;
    background-color:#000000;
    width:25%;
    hight:10%;
    font-size:1.5vh;
    font-weight: ;
    text-align:center;
    color:#ffffff;
    border: solid 1px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.box12 {
    padding: 0em 0.5em;
    margin: 0.5em 0;
    background-color:#000000;
    width:100%;
    hight:10%;
    font-size:1.5vh;
    font-weight: ;
    text-align:left;
    color:#ffffff;
    border: solid 1px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}


.title9{
       	border-bottom: dotted px #000000;
	color:			#000000;
	padding-top:		 0px;
	padding-bottom:          -100px;
	padding-left:		 0px;
	line-height:             100%; 
}

.box15{
    padding: 15px 0px 0px 0px ;
    margin-before: 0em em em em ;
    color: #2c2c2f;
    background: #ffffff;
    border-top: solid px #C0C0C0;
    border-bottom: solid  2px #C0C0C0;
    line-height:95%;
}
.box16 p {
    margin: 0px 0px 0px 0px; 
    padding:0px 8px 2px 2px;
}

/*BUY botton*/

.btn-black {
	background:rgb(0,0,0);
	color:#ffffff;
	border:none;
	-moz-box-shadow:none! important;
	box-shadow:none !important;
}
.btn-black:hover, .btn-black:focus {
	background:rgb(0,0,0);
	color:#808080;
}
.btn-black:active {
	background:rgb(182,182,182);
	color:#ffffff;
}

.btn-xxl {
	padding:10px 16px;
	margin:0px 0px 0px 0px;
	font-size:20px;
	
	border-radius:8px;
}

/*aitem botton*/

.btn-cd {
	background:rgb(0,0,0);
	color:#ffffff;
	border:none;
	-moz-box-shadow:none! important;
	box-shadow:none !important;
}
.btn-cd:hover, .btn-cd:focus {
	background:rgb(0,0,0);
	color:#808080;
}
.btn-cd:active {
	background:rgb(182,182,182);
	color:#ffffff;
}

.btn-xxll {
	padding:30px 30px 25px 25px;
	font-size:15px;00
	border-radius:8px;
}


.title20{
       	border-bottom: dotted px #000000;
	color:			#000000;
	padding-top:		 0px;
	padding-bottom:          -50px;
	padding-left:		 0px;
	line-height:             130%; 
}



h20 {

  text-align:left;
  padding:-15px 5px;
  border-left: 6px solid #ccc;
@
/*float:left;*/
}


.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #666666;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #666666;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 3px;
}


h22 {

  padding:.25em 2em .5em .75em;
  border-left: 6px solid #888888;
  border-bottom:1px solid #888888;

@
}

.style27 {
  font-family:"Ludica Sans Unicode",sans-serif;
  font-size: 13px;
  padding:-2em 0em 0em 0em;
  text-align:center;
  line-height:120%;
}




