<h4>【決済手段】</h4>

<form action="/shop/paidy" method="get">
<button type="submit" >paidy</button>
<h4>&nbsp;（コンビニ、銀行振込決済）</form></h4>

<form action="/shop/paypal/pay" method="get">
<button type="submit" >PayPal</button>
<h4>&nbsp;（クレジットカード決済）</form></h4>

<br>

<h5>
【カートに関するご注意】<br><br>
・カートに商品を入れただけでは、
在庫は確保されておりません。
注文完了時点」で在庫確保となります。<br>
ご注文の途中で売り切れとなる場合がございますのでお気をつけください。<br>
</h5>


