<% include ../par/head %>
<body>
<% include ../par/nav %>
<div class="container-fluid">
<div class="row">

<!--- ------------------------------------- side left ------->
<div class="well col-md-2 col-sm-12" style="color:black">
<%=email%>
<% if(usr) {%> 
<h5><div class="label label-info"> &nbsp;<%= usr%>&nbsp; さん </div></h5>
<br><br>
<% include ../par/out %>
<%}else{ %>
<% include ../par/login %>
<%} %>
</div>
<!--- ------------------------------------- main ------->

<div class="col-md-8  col-sm-12" style="color:black">

<br>
<div style="text-align:center">
paidyのご利用には住所登録が必要です。
<br><br><br></div>
<form id="sig" action="/shop/usr/adr_reg" method="post">
<input type="hidden" class="form-control" name="email" value="<%=email%>">
phone<input type="text" class="form-control" name="phn" size="10">
zip<input type="text" class="form-control" name="zip" size="10">
sta<input type="text" class="form-control" name="sta" size="80" >
city<input type="text" class="form-control" name="city" size="80" >
ln1<input type="text" class="form-control" name="ln1" size="80" >
ln2<input type="text" class="form-control" name="ln2" size="80" >

<div style="text-align:center">登録する際は<a href="agmt" target="_blank">利用規約</a>をお読みください。
<input type="checkbox" name="chk" value="yes"> 同意する<br>
<br>
<button type="submit" class="btn btn-default">登録</button>
</form>
<br>


</div>



</div>



<div class="col-md-2 col-sm-12" style="color:black">
</div></div>
</div>

<div class="footer"><% include ../par/foot %></div>


