<% include ../par/head %>
<body>
<% include ../par/nav %>
<div class="container-fluid">
<div class="row">

<% include ../par/3side%>
<div class="col-lg-6 col-sm-12" style="color:black">


<br><br>
<div style="text-align:center">E-mailを入力してください。
<br><br><br></div>
<form action="/shop/usr/for_fin" method="post">

E-mail:<br>
<input type="email" class="form-control" name="email" size="80" ><br>

<div align="center">
<button type="submit" class="btn btn-default">登録</button>
</form></div>
<% include ../par/3side%>

</div>
</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>

<div class="footer"><% include ../par/foot %></div>


