<% include ../par/head %>
<body>
<% include ../par/nav %>
<div class="container-fluid">
<div class="row">

<div class="col-md-2 col-sm-12" style="color:black"></div>

<div class="col-md-8  col-sm-12" style="color:black">

<div class="col-sm-2"></div>
<div class="col-sm-8">

<br><br>

<div style="text-align:center">
パスワードを送信しました。
</div>

</div>


<div class="col-sm-1"></div>

</div>


</div>
</div>
</div>


<br><br><br>

<div class="footer"><% include ../par/foot %></div>


