<% include ../par/head %>
<body>
<% include ../par/nav %>

<div class="container-fluid">
<div class="row">

    <div class="col-lg-2 col-sm-12" ></div>

<div class="col-lg-8 col-sm-12" style="color:black">

<h4 class="text-center">ログインしました。</h4>
<br>


<div style="text-align:center;">
<div class="btn-group" role="group">

<form method="get" action="/shop" align="center">
<button type="submit">ショップに戻る</button>
</form>
</div>

</div>



</div>

    <div class="col-lg-2 col-sm-12" ></div>
</div>
</div>

</body>


