<% include ../par/head %>
<body>
<% include ../par/nav %>

<div class="container-fluid">
<div class="row">
    <!-- lang -->
<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="out?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="out?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>
    <!-- lang -->

<% include ../par/2side %>

<div class="col-lg-8 col-sm-12" style="color:black">

    <h4 class="text-center"><%= gis.out %></h4>
<br>


<div style="text-align:center;">
<div class="btn-group" role="group">

<form method="get" action="/shop" align="center">
    <button type="submit"><%= gis.bck %></button>
</form>
</div>

</div>



</div>
<% include ../par/2side %>
</div>
</div>

</body>


