<form action="/shop" method="post">
E-mail:<br><input class="form-control" id="ema" type="email" name="email"  size="15">
<br>
Password:<br><input class="form-control" id="pss" type="text" name="pss" value="" size="15">
<br>
<button type="submit" class="btn btn-info">ログイン</button>
</form>

<br>
アカウントをお持ちでない方<br><br>

<form action="/shop/sig" method="get">
<button type="submit" class="btn btn-danger">サイン イン</button>
</form>

<br>


