<!DOCTYPE html>
<html>
<% include par/head%>
<body>
<!-- menu -->

<% include par/nav%>
<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12">
<div align="center">
    <h4 class="badge badge-danger">ページがみつかりません</h4>
<br>
</div><!-- /center-->
</div><!-- /col12-->

</div><!-- /row-->
</div><!-- /container-fluid-->
    <% include par/foot %>

</body>
</html>

