<% include par/head %>
<% include par/nav%>
<body>
<div class="container">
<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8">
<div id="wrapper">

<div class="title5"><img src="img/ban/logo.png" width="32" height="32" alt=""/> CONTACT</div>
<div class="style2">

<% include par/form%>

</div>
<div class="col-lg-2"></div>

</div>
</div>

<% include par/foot %>
</body>

</html>
