<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>
<body>

<div id="container-fluid">
<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="detail?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="detail?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>

<div class="row">
	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->

<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/357 %>
</div>

<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->

</div><!--row-->

<hr>

<!--ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/358 %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->


<hr>

<!--ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/calA %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>




<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/calB %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>

<!--ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/banA %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>

<!--ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/banB %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>

<!--ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/banC %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>

<!--ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/spaA %>
</div>



<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>

<!-- ここから -->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/spaB %>
</div>


<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->

<!-- ここまで-->

<hr>

<!--ここから-->

<!-- 行-->
<div class="row">

	
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


<!-- col10 -->
<div class="col-md-10" style="color:black">
<% include par/cd/dra %>
</div>
<br>

<!--col1-->
<div class="col-sm-1 hidden-xs"></div> <!-- /col1 -->


</div><!--row-->


<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<br>

<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!-- /col12-->

</body>
</html>

