<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div class="container-fluid">


<div class="row">

<% include par/2side%>

<div class="col-md-10 col-xs-12" style="color:black">

<div class="row">
<%if(mer){%>
<%for(var i=0;i<mer.length;i++){%>

<div class="style27">
<div class="col-md-4 col-xs-12" style="color:black">

<a href="shop" target="_blank">

<div align="center"><img src=<%=mer[i].img%> height="240"></div></a><br>
<%=mer[i].name%><br>
TMS-<%=mer[i].sku%>
</div></div><!-- col -->

<%}%>
<%}%>
</div><!-- row -->

</div>


<% include par/2side%>
</div><!--row-->
</div>

<!--ここからフッター-->

<br>
<div class="footer"><% include par/foot %></div>


</body>

