<% include par/head %>
<link href="css/demo.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<% include par/nav%>
<body>
<div class="box3000">
<p>1st ONEMAN LIVE PHOTO GALLERY</p>

</div>

<div class="am-container" id="am-container">

<a href="#"><img src="img/gal/live1.png.png"></img></a>
<a href="#"><img src="img/gal/live2.png.png"></img></a>
<a href="#"><img src="img/gal/live13.png.png"></img></a>
<a href="#"><img src="img/gal/live4.png.png"></img></a>
<a href="#"><img src="img/gal/live5.png.png"></img></a>
<a href="#"><img src="img/gal/live17.png.png"></img></a>
<a href="#"><img src="img/gal/live6.png.png"></img></a>
<a href="#"><img src="img/gal/live8.png.png"></img></a>
<a href="#"><img src="img/gal/live9.png.png"></img></a>
<a href="#"><img src="img/gal/live10.png.png"></img></a>

<a href="#"><img src="img/gal/live11.png.png"></img></a>
<a href="#"><img src="img/gal/live12.png.png"></img></a>
<a href="#"><img src="img/gal/live3.png.png"></img></a>
<a href="#"><img src="img/gal/live14.png.png"></img></a>
<a href="#"><img src="img/gal/live15.png.png"></img></a>
<a href="#"><img src="img/gal/live16.png.png"></img></a>
<a href="#"><img src="img/gal/live7.png.png"></img></a>
<a href="#"><img src="img/gal/live18.png.png"></img></a>
<a href="#"><img src="img/gal/live19.png.png"></img></a>
<a href="#"><img src="img/gal/live20.png.png"></img></a>

<a href="#"><img src="img/gal/live21.png.png"></img></a>
<a href="#"><img src="img/gal/live22.png.png"></img></a>
<a href="#"><img src="img/gal/live23.png.png"></img></a>
<a href="#"><img src="img/gal/live24.png.png"></img></a>
<a href="#"><img src="img/gal/live25.png.png"></img></a>
<a href="#"><img src="img/gal/live26.png.png"></img></a>
<a href="#"><img src="img/gal/live27.png.png"></img></a>
<a href="#"><img src="img/gal/live28.png.png"></img></a>
<a href="#"><img src="img/gal/live29.png.png"></img></a>
<a href="#"><img src="img/gal/live30.png.png"></img></a>

<a href="#"><img src="img/gal/live31.png.png"></img></a>
<a href="#"><img src="img/gal/live32.png.png"></img></a>
<a href="#"><img src="img/gal/live33.png.png"></img></a>
<a href="#"><img src="img/gal/live34.png.png"></img></a>
<a href="#"><img src="img/gal/live35.png.png"></img></a>
<a href="#"><img src="img/gal/live36.png.png"></img></a>
<a href="#"><img src="img/gal/live37.png.png"></img></a>
<a href="#"><img src="img/gal/live38.png.png"></img></a>
<a href="#"><img src="img/gal/live39.png.png"></img></a>
<a href="#"><img src="img/gal/live40.png.png"></img></a>

<a href="#"><img src="img/gal/live41.png.png"></img></a>
<a href="#"><img src="img/gal/live42.png.png"></img></a>
<a href="#"><img src="img/gal/live43.png.png"></img></a>
<a href="#"><img src="img/gal/live44.png.png"></img></a>
<a href="#"><img src="img/gal/live45.png.png"></img></a>
<a href="#"><img src="img/gal/live46.png.png"></img></a>
<a href="#"><img src="img/gal/live47.png.png"></img></a>
<a href="#"><img src="img/gal/live48.png.png"></img></a>
<a href="#"><img src="img/gal/live49.png.png"></img></a>
<a href="#"><img src="img/gal/live50.png.png"></img></a>

<a href="#"><img src="img/gal/live51.png.png"></img></a>
<a href="#"><img src="img/gal/live52.png.png"></img></a>
<a href="#"><img src="img/gal/live53.png.png"></img></a>
<a href="#"><img src="img/gal/live54.png.png"></img></a>
<a href="#"><img src="img/gal/live55.png.png"></img></a>
<a href="#"><img src="img/gal/live56.png.png"></img></a>
<a href="#"><img src="img/gal/live57.png.png"></img></a>
<a href="#"><img src="img/gal/live58.png.png"></img></a>
<a href="#"><img src="img/gal/live59.png.png"></img></a>
<a href="#"><img src="img/gal/live60.png.png"></img></a>

<a href="#"><img src="img/gal/live61.png.png"></img></a>
<a href="#"><img src="img/gal/live62.png.png"></img></a>
<a href="#"><img src="img/gal/live63.png.png"></img></a>
<a href="#"><img src="img/gal/live64.png.png"></img></a>
<a href="#"><img src="img/gal/live65.png.png"></img></a>
<a href="#"><img src="img/gal/live66.png.png"></img></a>
<a href="#"><img src="img/gal/live67.png.png"></img></a>
<a href="#"><img src="img/gal/live68.png.png"></img></a>
<a href="#"><img src="img/gal/live69.png.png"></img></a>
<a href="#"><img src="img/gal/live70.png.png"></img></a>

<a href="#"><img src="img/gal/live71.png.png"></img></a>
<a href="#"><img src="img/gal/live72.png.png"></img></a>
<a href="#"><img src="img/gal/live73.png.png"></img></a>
<a href="#"><img src="img/gal/live74.png.png"></img></a>
<a href="#"><img src="img/gal/live75.png.png"></img></a>
<a href="#"><img src="img/gal/live77.png.png"></img></a>
<a href="#"><img src="img/gal/live78.png.png"></img></a>
<a href="#"><img src="img/gal/live79.png.png"></img></a>
<a href="#"><img src="img/gal/live80.png.png"></img></a>

<a href="#"><img src="img/gal/live81.png.png"></img></a>
<a href="#"><img src="img/gal/live82.png.png"></img></a>
<a href="#"><img src="img/gal/live83.png.png"></img></a>
<a href="#"><img src="img/gal/live84.png.png"></img></a>
<a href="#"><img src="img/gal/live85.png.png"></img></a>
<a href="#"><img src="img/gal/live86.png.png"></img></a>
<a href="#"><img src="img/gal/live87.png.png"></img></a>
<a href="#"><img src="img/gal/live88.png.png"></img></a>
<a href="#"><img src="img/gal/live89.png.png"></img></a>
<a href="#"><img src="img/gal/live90.png.png"></img></a>

<a href="#"><img src="img/gal/live91.png.png"></img></a>
<a href="#"><img src="img/gal/live92.png.png"></img></a>
<a href="#"><img src="img/gal/live93.png.png"></img></a>
<a href="#"><img src="img/gal/live94.png.png"></img></a>
<a href="#"><img src="img/gal/live95.png.png"></img></a>
<a href="#"><img src="img/gal/live96.png.png"></img></a>
<a href="#"><img src="img/gal/live97.png.png"></img></a>
<a href="#"><img src="img/gal/live98.png.png"></img></a>
<a href="#"><img src="img/gal/live99.png.png"></img></a>
<a href="#"><img src="img/gal/live100.png.png"></img></a>

<a href="#"><img src="img/gal/live101.png.png"></img></a>
<a href="#"><img src="img/gal/live102.png.png"></img></a>
<a href="#"><img src="img/gal/live103.png.png"></img></a>
<a href="#"><img src="img/gal/live104.png.png"></img></a>
<a href="#"><img src="img/gal/live105.png.png"></img></a>

</div>
<script type="text/javascript" src="js/jquery.montage.min.js"></script>
<script type="text/javascript">
	$(function() {
var $container 	= $('#am-container'),
	$imgs		= $container.find('img').hide(),
	totalImgs	= $imgs.length,
	cnt			= 0;
				
	$imgs.each(function(i) {
	var $img	= $(this);
	$('<img/>').load(function() {
	++cnt;
	if( cnt === totalImgs ) {
	$imgs.show();
	$container.montage({
	fillLastRow				: true,
	alternateHeight			: true,
	alternateHeightRange	: {
	min	: 90,
	max	: 240
	}
	});
							
	$('#overlay').fadeIn(500);
}
}).attr('src',$img.attr('src'));
});	
});
		</script>
    </body>

