<!DOCTYPE html>
<html>
<% include par/head%>
<body>
<!-- menu -->

<% include par/nav%>
<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12" style="background-color:white">
<div align="center">

<br>

</div><!-- /center-->
</div><!-- /col12-->
</div><!-- /row-->


<% include par/foot %>
</div><!-- /container-fluid-->

</body>
</html>

