<!DOCTYPE html>

<html>
<% include par/head %>
<% include par/nav %>
<body>


<div class="container-fluid">

<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="mail?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="mail?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>

<div class="row">
<div class="col-sm-2 hidden-xs"></div>

<div class="col-sm-8">

<% include par/form %></div>


<div class="col-sm-2 hidden-xs"></div>

</div>
</div>


<!--FOOT-->
<div class="footer"><% include par/foot %></div>
<!--FOOT-->


</body>
</html>

