<!DOCTYPE html>
<html>
<% include par/head%>
<body>
<!-- menu -->

<% include par/nav%>
<!-- menu -->

<div class="container-fluid">
<div id="wrap">


<!-- 行-->
<div class="row">

<!-- col12  -->
<div class="col-sm-12" style="background-color:white">
<div align="center">
<img class="img-responsive" src="img/ban/top.png"  width="" height="656" style="" alt=""/></div>
<br>
</div><!-- /col12-->
</div><!-- /center-->
</div><!-- /wrap-->
</div><!-- /row-->
</div><!-- /container-fluid-->

<!--上段ここまで-->

<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!-- /center-->
</div><!-- /col12-->

</body>

