<!DOCTYPE html>
<html>
<% include par/head %>
<body>
<% include par/nav %>



<div class="container-fluid">
<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="news?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="news?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>


<div class="row">


<!-- col1 -->
<div class="col-sm-1 hidden-xs">
</div>
<!-- col1 -->

<!-- col7  -->
<div class="col-sm-7" style="color:black">

<!-- news -->
<% include par/news %>
<div align="left">
</div>
<!-- news -->
</div>
<!-- /col7 -->


<!-- col3 -->
<div class="col-sm-3" style="background-color:white">

<a class="twitter-timeline" data-width="450" data-height="600" href="https://twitter.com/axell_official?ref_src=twsrc%5Etfw">Tweets by axell_official</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div><!-- /col3-->

<!-- col1 -->
<div class="col-sm-1 hidden-xs">
</div><!-- /col1-->

</div><!--/row-->
</div>

<!-- /ã’i‚±‚±‚Ü‚Å -->

<br><br>

<!--Footer-->


<div class="footer"><% include par/foot %></div>

</div><!-- /container-fluid-->

</body>
</html>

