<!DOCTYPE html>
<html>
<% include par/head %>

<body>
 <% include par/nav %>
<div id="container-fluid">
<!-- 行-->
<div class="row">

<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div><!-- /col1 -->

<!-- col10 -->
<div class="col-sm-10" style="color:black">
    <div class="style2">

	    <div align="center"> <h4>特定商取引法に基づく表記</h4></div><br>
	    <div class="style1">【事業者の名称】<br> 
		                株式会社トムス・ミュージック　/　TMS Music Co., Ltd.</div>

	    <div class="style1">【代表者】<br> 
		                代表取締役社長　竹崎 忠</div>

	    <div class="style1">【所在地】<br> 
		                〒164-0001 東京都中野区中野三丁目31番1号</div>

	    <div class="style1">【電話番号】<br>
		    03-6382-7149</div>
	    
	    
	    <div class="style1">【メールアドレス】<br>
		               <a href=tmsmusic.tokyo/mail>info@tmsmusic.tokyo</a></div>

	    <div class="style1">【商品の販売価格】<br>  
		                販売価格は<a href="shop">商品ページ</a>をご覧ください。</div>
	    
	    <div class="style1">【商品の販売について】<br>
（商品引渡し時期）<br>
商品の発送は、ご注文日から2～5営業日以内に発送を予定しております。<br>
但し、PayPal決済につきましては、ご入金確認後の発送とさせていただきます。<br>
また、お届け日時については指定を現状承っておりません。<br>
※営業日：月～金（祝祭日、お盆時期、年末年始休暇を除く）<br><br>
下記の場合には発送が遅れる場合がございます。<br> 
・弊社指定休日を挟む場合<br>
・注文状況<br>
・配送時の道路事情<br>
・離島等<br>
※発送は日本国内のみとさせていただいております。<br>
		   
（不良品の取扱い）<br>
商品に初期不良、またはご注文と異なる商品が到着した場合など当社に起因する交換
または返品をさせていただきます。
商品の到着後7日以内にお問合せください。（交換は同一商品に限ります）<br>
また、その際にかかる送料は、当社にて負担いたします。<br>

（返品について）<br>
ご注文手続き完了後のお客様のご都合によるキャンセル、返品は承っておりません。 
また、ご注文手続き完了後の商品の変更や追加、数量の変更は承っておりません。<br>

（支払い方法）<br>
お支払い方法は、PayPalとPaidyの2種類からお選びいただけます。<br>

（商品代金以外の必要料金）<br>
・配送料：全国一律650円<br>
※商品の配送は日本国内のみとさせていただきます。<br>
※商品の配送は受注番号ごとに行います。<br>
同一日の受注、発送でも受注をまとめることはできません。<br>
※ギフト包装は承っておりません</div>

	    <div class="style1">【動作環境】<br>
			   商品・サービス毎に必要に応じて動作環境を表示します。</div>

<!---------------------------------------------------------------------------------------------------->
    </div><!--/col9-->
</div><!--style2-->
<!-- col1 -->
<div class="col-sm-1 hidden-xs"></div><!-- /col1 -->

<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!--center-->
</div><!--col12-->
</div><!--row-->
</div><!--cont-->


</body>
</html>



