<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div class="row">

<% include par/2side%>

<div class="col-md-10 col-xs-12" style="color:black">
<div class="row" align="center">
    <%= par %>

</div><!-- row -->
</div>


<% include par/2side%>
</div><!--row-->
</div>


<br>
<div class="footer"><% include par/foot %></div>


</body>

