<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav%>
<!--menu-->



<div class="container-fluid">
<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="schedule?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="schedule?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>


<div class="row">

<!--col1-->
<div class="col-sm-1 hidden-xs"></div>
<!--col1-->

<!--col7-->
<div class="col-sm-10">

<!--schedule-->
<% include par/sche %>
<!--schedule-->

<br>

</div>
<!--col7-->


<!--col1-->
<div class="col-sm-1 hidden-xs"></div>
<!--col1-->

</div><!--/row-->
</div><!cont>

<!-- FOOTER -->

<div class="footer">
<% include par/foot %>
</div>


</body>
</html>

