.time15 {
  width: 25%;
}

.time30 {
  width: 50%;
}

.time45 {
  width: 75%;
}

.time60 {
  width: 100%;
}

.time75 {
  width: 125%;
}

.time90 {
  width: 150%;
}

.time105 {
  width: 175%;
}

.time120 {
  width: 200%;
}

.time135 {
  width: 225%;
}

.time150 {
  width: 250%;
}

.time165 {
  width: 275%;
}

.time180 {
  width: 300%;
}

.time195 {
  width: 325%;
}

.time210 {
  width: 350%;
}

.time225 {
  width: 375%;
}

.time240 {
  width: 400%;
}

.time255 {
  width: 425%;
}

.time270 {
  width: 450%;
}

.time285 {
  width: 475%;
}

.time300 {
  width: 500%;
}

.time315 {
  width: 525%;
}

.time330 {
  width: 550%;
}

.time345 {
  width: 575%;
}

.time360 {
  width: 600%;
}

.time375 {
  width: 625%;
}

.time390 {
  width: 650%;
}

.time405 {
  width: 675%;
}

.time420 {
  width: 700%;
}

.time435 {
  width: 725%;
}

.time450 {
  width: 750%;
}

.time465 {
  width: 775%;
}

.time480 {
  width: 800%;
}

.time495 {
  width: 825%;
}

.time510 {
  width: 850%;
}

.time525 {
  width: 875%;
}

.time540 {
  width: 900%;
}

.time555 {
  width: 925%;
}

.time570 {
  width: 950%;
}

.time585 {
  width: 975%;
}

.time600 {
  width: 1000%;
}

.time615 {
  width: 1025%;
}

.time630 {
  width: 1050%;
}

.time645 {
  width: 1075%;
}

.time660 {
  width: 1100%;
}

.time675 {
  width: 1125%;
}

.time690 {
  width: 1150%;
}

.time705 {
  width: 1175%;
}

.time720 {
  width: 1200%;
}

.time735 {
  width: 1225%;
}

.time750 {
  width: 1250%;
}

.time765 {
  width: 1275%;
}

.time780 {
  width: 1300%;
}

.time795 {
  width: 1325%;
}

.time810 {
  width: 1350%;
}

.time825 {
  width: 1375%;
}

.time840 {
  width: 1400%;
}

.time855 {
  width: 1425%;
}

.time870 {
  width: 1450%;
}

.time885 {
  width: 1475%;
}

.time900 {
  width: 1500%;
}

.time915 {
  width: 1525%;
}

.time930 {
  width: 1550%;
}

.time945 {
  width: 1575%;
}

.time960 {
  width: 1600%;
}

.time975 {
  width: 1625%;
}

.time990 {
  width: 1650%;
}

.time1005 {
  width: 1675%;
}

.time1020 {
  width: 1700%;
}

.time1035 {
  width: 1725%;
}

.time1050 {
  width: 1750%;
}

.time1065 {
  width: 1775%;
}

.time1080 {
  width: 1800%;
}

.time1095 {
  width: 1825%;
}

.time1110 {
  width: 1850%;
}

.time1125 {
  width: 1875%;
}

.time1140 {
  width: 1900%;
}

.time1155 {
  width: 1925%;
}

.time1170 {
  width: 1950%;
}

.time1185 {
  width: 1975%;
}

.time1200 {
  width: 2000%;
}

.time1215 {
  width: 2025%;
}

.time1230 {
  width: 2050%;
}

.time1245 {
  width: 2075%;
}

.time1260 {
  width: 2100%;
}

.time1275 {
  width: 2125%;
}

.time1290 {
  width: 2150%;
}

.time1305 {
  width: 2175%;
}

.time1320 {
  width: 2200%;
}

.time1335 {
  width: 2225%;
}

.time1350 {
  width: 2250%;
}

.time1365 {
  width: 2275%;
}

.time1380 {
  width: 2300%;
}

.time1395 {
  width: 2325%;
}

.time1410 {
  width: 2350%;
}

.time1425 {
  width: 2375%;
}

.time1440 {
  width: 2400%;
}
