.box20 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*ï∂éöêF*/
    background: #FFF;
    border: solid 3px #6091d3;/*ê¸*/
    border-radius: 10px;/*äpÇÃä€Ç›*/
}


.box21 p {
    margin: 0; 
    padding: 0;
}

.style27 {
  font-family:"Ludica Sans Unicode",sans-serif;
  font-size: 13px;
  padding:-2em 0em 0em 0em;
  text-align:center;
  line-height:120%;

}





.note{
    font-size:15px;
    color:#000000;
    position: relative;
    background-color: #ffffff;
    background-image:
    linear-gradient(rgba(155,155,155,0.5) .1em, transparent .1em);
    background-size: 100% 2em;
    line-height:2em;

}



.box88 {
    padding: 0em 0em 0em 0.5em;
    margin: 1em 0;
    color: #000000;
    background: #ffffff;
    border-left: solid 5px #A9A9A9;
}
.box89 p {
    margin: 0; 
    padding: 0;
}



.pa1  {
   font-size:15px; 
   padding:0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   line-height:1.5em;
  text-align:left; 

}


.pa2  {
   font-size:17px; 
   padding:0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   line-height:2em;
  text-align:left; 

}



.box121 {
    padding: 0em 1em;
    margin: 0em 0em -1em 0em;
    font-weight: bold;
    color: #000000;/*ï∂éöêF*/
    background: #FFF;
    border: solid 1px #C0C0C0;/*ê¸*/
    border-radius: 0px;/*äpÇÃä€Ç›*/
}


.box122 {
    padding: 2em 0em 2em 0em    ;
    margin: 1em 0em 0em 0em;
    color: #000000;/*ï∂éöêF*/
    background: #FFF;
    border: solid 1px #C0C0C0;/*ê¸*/
    border-radius: 10px;/*äpÇÃä€Ç›*/
}


.box94 {
    color:#000000;
   padding:0em 0em 0em 0em;
   margin:0em 0em 0em 0em;
   text-align:center; 
   border: solid 1px #696969;
   background: ;
    
}
    
  
    
.box94 p {
    margin:  0em 0em 0em 0em; 
    padding: 0em 0em 0em 0em;
}


.pabox {
    color:#000000;
   padding:1em 1em 1em 0em;
   margin:0em -1.5em 0em -1.5em;
   text-align:right; 
   border: solid 1px #696969;
   background:#F5F5F5 ;
    
}
    

    
.pabox p {
    margin:  0em 0em 0em 0em; 
    padding: 0em 0em 0em 0em;
}


.pabox2 {
    color:#000000;
   padding:0em 0em 0em 0em;
   margin:0em -0.5em 0em -0.5em;
   text-align:right; 
   border: solid 1px #696969;
   background:#F5F5F5 ;
    
}
    

    
.pabox2 p {
    margin:  0em 0em 0em 0em; 
    padding: 0em 0em 0em 0em;
}



.box199 {
    padding: 0.5em 0.5em;
    margin: 0em 0;
    color: #000000;
    background: #ffffff;
    border-top: solid 5px #778899;
}
.box199 p {
    margin: 0; 
    padding: 0;
}

.box222 {
    padding: 0.5em 0.5em;
    margin: 0em 0;
    font-weight: ;
   border: solid 0.3px #A9A9A9;
}
.box222 p {
    margin: 0; 
    padding: 0;
}

