<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">

<div class="col-lg-2 col-sm-12 "></div>
<div class="col-lg-8 col-sm-12 bg-bei">

<h1 class="text-center"><%= shop.cancel %></h1>

<span class="bg-ali">
<a href="/shop/cart">back</a>&nbsp;&nbsp;to cart
</span><br>

<span class="bg-lg">
<a href="/shop">back</a>&nbsp;&nbsp;to shop
</span>

</div><!-- col-->

    <div class="col-lg-2 col-sm-12 "></div>
</div><!-- row-->
</div><!-- cont-->

</body>


