<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">
<% include par/2side %>

<div class="well col-lg-8 col-sm-12" style="color:black">

<h1 class="text-center"><%= shop.cancel %></h1>
<div class="well col-lg-6 col-sm-12" style="color:black">
<a href="/shop/cart">back</a>&nbsp;&nbsp;to cart
<br>
<% if(typeof tok!=="undefined"){%>
<%= tok %>
<%} %>

</div>

<div class="well col-lg-6 col-sm-12" style="color:black">
<a href="/shop">back</a>&nbsp;&nbsp;to shop

</div>
</div>

<% include par/2side %>
</div>
</div>

</body>


