<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">
<% include par/2side %>

<div class="well col-lg-8 col-sm-12" style="color:black">

    <h1 class="text-center"><%= shop.can %></h1>
    <a href="/shop"><%= shop.bck %></a>&nbsp;&nbsp;

</div>

<% include par/2side %>
</div>
</div>

</body>


