<% include par/head %>
<body>
<% include par/nav %>

<div class="container-fluid">
<div class="row">
<% include par/2side %>

<div class="well col-lg-8 col-sm-12" style="color:black">

<br>
<div class="well col-lg-6 col-sm-12">
<%=mypal.transactions[0].amount.details.subtotal%><br>
<%=mypal.transactions[0].amount.details.shipping%><br>
<%=mypal.transactions[0].amount.total%>
<%=mypal.transactions[0].amount.total%>
</div>

<div class="col-lg-6 col-sm-12">

</div>

</div>
<% include par/2side %>
</div>
</div>

</body>


