<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="http://www.google.com/jsapi"></script>

<link href="../../css/boot.css" rel="stylesheet">
<link href="../../css/foot.css" rel="stylesheet">
<link href="../../css/shop.css" rel="stylesheet">
<link href="../../css/cart.css" rel="stylesheet">
<link href="../../css/guide.css" rel="stylesheet">
<link href="../../css/form.css" rel="stylesheet">


<title>mat</title>
</head>
