<h4><div class="label label-default">ログイン</div></h4>
<form action="/shop" method="post">
E-mail:<br><input id="ema" type="email" name="email"  size="15">
<br>
Password:<br><input id="pss" type="text" name="pss" value="" size="15">
<br><br>
<button type="submit" class="btn btn-default">LOG IN</button>
</form>

<br>
アカウントをお持ちでない方は<br>
こちら
<br><br>

<form action="/shop/sig" method="get">
<button type="submit" class="btn btn-info">SIGN IN</button>
</form>

<br>


