<div id="container-fluid">
<div class="row">
<div class="col-lg-12">
<div align="center">

<!--========================================= cec -->
<% include par/prof/cec %>

<div class="box1" style="color:black">
<img src="img/mem/cec.png" height="160" align="" class="btn btn-white btn-lg" data-toggle="modal" class="modal-syncer" data-target="#myModal-01">
<p>千知-CECIL-</p>
</div>

<div id="myModal-01" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">千知-CECIL-</h4>
</div>

<div class="modal-body">
<img src="img/mem/cec2.png" alt="" width="400" height="600" class="img-responsive center-block" alt=""/>
<div align="center" style="color:black">
<p class="content1">BIRTH DAY：1997年2月7日</p> 
<p class="content1">BLOOD：B ／ FROM：京都</p>
<p class="content1">『THE HOOPERS』と兼任</p>
</div>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
</div>

</div>
</div>
</div>

<!--========================================= cec -->
<div class="box1">
<img src="img/mem/lee.png" height="160" align="" class="btn btn-white btn-lg" data-toggle="modal" class="modal-syncer" data-target="#myModal-02">
<p>LEE</p>
</div>

<div id="myModal-02" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">

<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">LEE</h4>
</div>
<div class="modal-body">
<img src="img/mem/lee2.png" alt="" width="400" height="600" class="img-responsive center-block" alt=""/>
<br>
<div align="center" style="color:black">
<p class="content1">BIRTH DAY：1998年10月9日</p> 
<p class="content1">BLOOD：O ／ FROM：千葉</p>
<p class="content1">『THE HOOPERS』と兼任</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
</div>

</div>
</div>
</div>

<!--========================================= cec -->

</div>
</div>
</div>
<!-- -->
</div><!-- cen-->
</div><!-- col -->
</div><!-- row -->
</div><!-- cont -->

