<div class="col-md-12" style="color:black" align="center" >
<form method="post" action="/shop/cart">
<input type="hidden" name="clr" value="yes">
<button type="submit" ><%=shop.clr%></button>
</form>
</div>


