<div class="card">
<div class="card-header">【決済手段】</div>

<div class="card-body">
<form action="/shop/paidy/pay" method="get">
<button class="btn btn-danger" type="submit" >paidy</button>
&nbsp;（コンビニ、銀行振込決済）</form>
<br>
<form action="/shop/paypal/pay" method="get">
<button class="btn btn-info" type="submit" >PayPal</button>
&nbsp;（クレジットカード決済）</form>

</div><!-- card-->

<div class="card-header">【カートに関するご注意】</div>
<div class="card-body">

・カートに商品を入れただけでは、
在庫は確保されておりません。
注文完了時点」で在庫確保となります。<br>
ご注文の途中で売り切れとなる場合がございますのでお気をつけください。<br>
</div><!-- body-->
</div><!-- card-->
