<div class="box1" style="color:black">
<img src="img/mem/cec.png" height="160" align="" class="btn btn-white btn-lg" data-toggle="modal" class="modal-syncer" data-target="#myModal-01">
<font size="4px"><p>千知-CECIL-</p></font>
</div><!--box1-->

<div id="myModal-01" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" style="color:black">千知-CECIL-</h4>
</div><!--modal-header-->

<div class="modal-body">
<img src="img/mem/cec4.png" alt="" width="400" height="600" class="img-responsive center-block" alt=""/>
<div align="center" style="color:black">
<p class="content1">BIRTH DAY：1997年2月7日</p> 
<p class="content1">BLOOD：B ／ FROM：京都</p>
<p class="content1">『THE HOOPERS』と兼任</p>
</div><!--modal-body-->
</div><!--cener-->

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
</div><!--modal-footer-->

</div>
</div>
</div>
