<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
<div class="navbar-header">

<a class="navbar-brand" href="/">AXELL OFFICIAL SITE</a>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar">
<span class="sr-only"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>


<div class="collapse navbar-collapse" id="bar">
<font size="3" color="white">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a href="/shop">HOME</a></li>
<li><a href="/shop">shop</a></li>
<li><a href="/shop/cart">cart</a></li>
<li><a href="/shop/my">mypage</a></li>
</ul>
</div>
</nav>

