<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">

<div class="col-md-2 col-sm-12"></div>

<div class="col-sm-8" style="color:black">

<br><br>

<%if(typeof err=="undefined"){%>

<%if(chk=="yes"){%>
<div style="text-align:center">ご登録ありがとうございました。</div>
<%}else{%>
not agreed.
<%}%>

<%}else{%>
<%=err%><br>
<a href="sig">sign in </a>

<%}%>

<br>


</div>


<div class="col-sm-1"></div>

</div>



<div class="col-md-2 col-sm-12" style="color:black">
</div></div>
</div>

<div class="footer"><% include par/foot %></div>


