<div class="col-sm-12" style="color:black">
	
<h4>CONTACT</h4>

<section class="section">

<form class="title2" method="POST">
<dl>
<dt></dt>
<dd><input type="email" class="form-control" id="inputName3" placeholder="Email" name="mail" required></dd>
<br>


<dt></dt>
<dd><input type="text" class="form-control" id="inputName3" placeholder="Name" name="name" required></dd>
<br>

<dt>パスワード</dt>
<dd><input type="password" class="form-control" id="inputTitle3"  name="pss" required></dd>
<br>

<div class="btnWrap">

<button type="submit" class="button">
submit
</button>
</div>

<br><br><br><br><br><br>



</form>
</section>

</div>
