<div class="box1" style="color:black">
<div class="sam5">
<img class="img-responsive" src="img/cd/328.png" alt=""/>
<div class="mask">
<div class="box10">
<div class="caption1">ドラマCD </div>
<div class="caption2">アクセルどらま！<br><br>「青春のSHOOTING STAR」</div>
</div>
</div>
</div>
</div>
