<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<% include par/nav %>

<div class="container-fluid">
<% include par/lang %>
<div class="row">

<div class="col-md-2" style="color:black">
<% include par/left %>
</div>

<div class="col-md-10" style="color:black">
<p class="box90"><%=shop.cart%></p>
<% include par/car/main %>
<br>

<div class="col-md-12" style="color:black">
<% include par/car/bk %>
</div>
<!-- row -->
</div>


<div class="well row">
<div class="col-md-2" style="color:black"></div>

<div class="col-md-8" style="color:black">
<% include par/car/not %>
</div>

<div class="col-md-2" style="color:black"></div>
</div><!--row-->
</div><!-- /container -->

<% include par/foot %>


</body>

