<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-2" ><br>
<% include par/left %>
</div>

<div class="col-md-10" ><br>

    <div class="box97"><%= shop.cart %></div><br>

<% include par/car/cen %>
<br>

<div class="col-md-12" >
<% include par/car/bk %>
</div>
</div>

<div class="row">
<div class="col-md-2" ></div>

<div class="col-md-10" >
<% include par/car/not %>
</div><!-- col1 -->
</div> <!-- /row -->


</div><!--row-->
</div><!-- /container -->

<% include par/foot %>


</body>
</html>
