<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<% include par/nav %>

<div class="container-fluid">
<div class="row">

<% include par/lang %>

<div class="col-md-2">
<% include par/left %>
</div>

<div class="col-md-10">
    <a href="img/cd/341.png"><%= fil %></a>
    <br>
    <a href="<%= path %>"><%= fil %></a>
</div>

</div><!--row-->
</div><!-- /container -->


<% include par/foot %>


</body>

