<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>

<link href="../css/dropzone.css" rel="stylesheet">
<link href="../css/drop.css" rel="stylesheet">
<script src="../js/dropzone.js"></script>
<script src="../js/drop.js"></script>
<body>


<div class="container-fluid">
<% include par/lang %>
<div class="row">

<div class="col-sm-2">
<% include par/left %>
</div>

<div class="col-sm-10">

<form action="/shop/up" enctype="multipart/form-data" method="post">
<input type="file" name="upload" >
<input type="submit" value="Upload">
</form>

<h1>DropzoneJS File Upload Demo</h1>

<SECTION>
  <DIV id="dropzone">
    <FORM class="dropzone" id="demo-upload" method="post" action="/shop/up">
        <DIV class="dz-upload">   <br> 
        <br>
      </DIV>

<button type="submit" class="btn btn-primary">Submit</button>
    </FORM>
  </DIV>
</SECTION>

<br>

<SECTION>
  <DIV id="dropzone">
    <FORM class="dropzone" id="demo-upload" action="../up">
      <DIV class="dz-message ">    
<input name="file" type="file" multiple />
      </DIV>
    </FORM>
  </DIV>
</SECTION>

</div>

</div><!--row-->
</div><!-- /container -->


<% include par/foot %>


</body>

