<!DOCTYPE html>
<html>
<% include par/head %>
<body>
<% include par/nav %>

<div class="container-fluid">
<% include par/lang %>
<div class="row">

    <div class="col-md-2"><br>
<% include par/left %>
</div>

<div class="col-md-10"><br>

<div class="box97">購入履歴詳細</div><br>

<% include par/his/main %>
</div>

</div><!--row-->
</div><!-- /container -->


<% include par/foot %>


</body>

