<% include par/head %>
<body>
<% include par/nav %>

<div class="container-fluid">
<div class="row">
<% include par/2side %>

<div class="col-lg-8 col-sm-12" style="color:black">

<h4 class="text-center">ログアウトしました</h4>
<br>

<div style="text-align:center;">
<div class="btn-group" role="group">


<style="color:black">
<form method="get" action="/shop/cart">
<button type="submit">カートに戻る</button>
</form></div>


<style="color:black">
<form method="get" action="/shop" align="center">
<button type="submit">ショップに戻る</button>
</form>
</div>

</div>

<% include par/2side %>
</div>
</div>

</body>


