<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<% include par/nav %>

<div class="container-fluid">
<% include par/lang %>
<div class="row">

<div class="col-sm-2">
<% include par/left %>
</div>

<div class="col-sm-10">
<% include par/ite %>
</div>

</div><!--row-->
</div><!-- /container -->


<% include par/foot %>


</body>

