<!DOCTYPE html>
<html>
<% include ase/head %>
<% include ase/nav %>
<body>


<div class="container-fluid">
<div class="row">

<!--- main ----- -->

<div class="col-md-2">
<br>
<% include par/left %>
</div>

<div class="col-md-10">
<% include par/ite %>
</div>

</div><!--row-->
</div><!-- /container -->


<% include ase/foot %>


</body>

