<!DOCTYPE html>
<html>
<% include ase/head %>
<% include ase/nav %>
<body>

<!--menu-->
<!--menu-->

<div class="container-fluid">
<div class="row">

<!--- ------------------------------------- side left ---- -->
<div class="col-md-2 col-sm-12" id="bei"> 
<% include par/usr/left %>
</div>
<!--- ------------------------------------- main ----- -->

<div class=" col-md-10 col-xs-12 "><br>

<% include par/ite/form %>

</div><!-- col10 -->



</div><!--row-->
</div><!-- cont-->

<% include ase/foot %>


</body>

