<!DOCTYPE html>
<html>
<% include par/ase/head %>
<% include par/ase/nav %>
<body>

<!--menu-->
<!--menu-->

<div class="container-fluid">
<div class="row">

<!--- ------------------------------------- side left ---- -->
<div class="col-md-2 col-sm-12" id="bei"> 
<% include par/usr/left %>
</div>
<!--- ------------------------------------- main ----- -->

<div class=" col-md-10 col-xs-12">

<% include par/ite/form %>

</div><!-- col10 -->



</div><!-- main-col -->
</div><!--row-->
</div><!-- /container -->

<% include par/ase/foot %>


</body>

