<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="col-md-2">
<br>
<% include par/left %>
</div>

<!--- main ---- -->

<div class="col-md-10">
<br>
<div class="box97">マイページ</div>
    <br>
    <% if(mailadr){ %>
<% include par/my %>
<% } %>
</div>

</div></div>
<br>

<% include par/foot %>


