<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->


<% include par/lang %>

<div class="col-md-2" style="color:black">
<% include par/left %>
</div>

<div class="col-md-10" style="color:black">
<div class="box90">マイページ</div>
<br>
<% if(usr) {%> 
<% include par/my/main %> 

<%}else{%>
<span style="color:black">
    <br>
ログインしてください。
</span>
<%}%>
<br>
</div>
<!-- row -->
</div>
<!-- cont -->


<% include par/foot %>


