<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="col-md-2" style="color:black">
<% include par/left %>
</div>

<!--- main ---- -->

<div class="col-sm-8" style="color:black">
</div>

</div></div>

<div class="footer"><% include par/foot %></div>
<% include par/foot %>


