<% include par/head %>
<body>
<% include par/nav %>

<div class="container-fluid">
<div class="row">

<div class="col-md-2" id="bk-lime">
<% include par/left %>
</div>

<div class="col-lg-8 col-sm-12" style="color:black">

<div style="text-align:center">
<div class="badge badge-primary"><h4>tmp</h4></div>
<br>
<br>
<form method="get" action="/shop/cart">
<div class="btn-group" role="group">
<button class="btn btn-info" type="submit">カートに戻る</button>
</div>
</form>

<form method="get" action="/shop" align="center">
<div class="btn-group" role="group">
<button class="btn btn-info" type="submit">ショップに戻る</button>
</div>
</form>

</div><!-- center-->
</div><!-- col8-->
<% include par/2side %>
</div>
</div>

</body>


