<!DOCTYPE html>
<html>
<% include ../par/head %>
<body>

<!--menu-->
<% include ../par/nav %>
<!--menu-->

<div class="container-fluid">
<div class="row">

<div class="col-md-1 hidden-xs"></div>

<div class="col-md-10 col-xs-12" style="color:black">

<div class="style22">


<div align="center">
<h4>ご利用ガイド</h4></div><br>


<div align="center" >
<a href="#gu1">お支払いについて</a>／<a href="#gu2">商品のお届けについて</a>／<a href="#gu3">送料について</a>／<a href="#gu4">お問合せ</a></div>
<br>


<h4 id="gu1">
<div class="box97">
<p>お支払いについて</p></div></h4>
<br>

お支払い方法は、PayPal（ペイパル）とPaidy（ペイディ）の2種類からお選びいただけます。<br><br>

■PayPal（クレジットカード）でのお支払い<br>

PayPalはオンラインでの支払いや送金を安全簡単、そして迅速にできるサービスです。当社に大切なカード情報を知らせる事なく、より安全にお支払いいただけます。<br>

・クレジットカードのポイントは通常通り付与されます。<br>
・PayPalでお支払いいただくときの手数料は無料です。<br>
・メールアドレスがあれば、誰でも無料でアカウント登録ができます。 
（アカウント登録をしないで「ゲスト」としてお支払いの手続きをしていただくことも可能です）<br><br>

詳しくは<a href="https://www.paypal.com/jp/home">こちら</a><br>
登録については<a href="https://www.paypal.com/jp/home">こちら</a><br><br>


【対応クレジットカード】<br>
VISA / Master Card / American Express / JCB<br>

<!-- PayPal Logo --><a href=https://www.paypal.com/jp/webapps/mpp/logo/about>
<img src=https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/jp/developer/Logo_203_80.png></a><!-- PayPal Logo --><br><br>


【注意事項】<br>

※PayPalでのお手続き完了後、PayPalのシステムメンテナンス中などで
ご入金の確認が遅くなる場合がありますので予めご了承下さい。<br><br>

<div class="style1"></div>
<br>
■Paidy（コンビニ/銀行）でのお支払い<br>

Paidyは、メールアドレスと携帯電話番号だけでお支払いいただける決済方法です。
事前登録・クレジットカードは必要ありません。<br>


月に何回お買い物をしても、お支払いは翌月にまとめて1回。1ヶ月分のご利用金額は、翌月1日に確定し、メールとSMSでお知らせします。<br>

下記のお支払い方法がご利用いただけます。<br><br>

口座振替(支払手数料：無料)<br>
コンビニ(支払手数料：350円税込)<br>
銀行振込(支払手数料：金融機関により異なります)<br><br>

「一括払いの場合」<br>
支払期日は、コンビニ払い及び銀行振込の場合は10日までとなります。<br>
口座振替の場合は12日に引き落しとなります。但し、年末年始や大型連休はこの限りではありません。<br>
金融機関の休業日に当たる場合は、翌営業日となります。<br>

※Paidyのご利用方法について詳しくはPaidyのHP（www.paidy.com）をご覧ください。<br>
※ご利用にはSMS（ショートメッセージサービス）を受信できる携帯電話が必要となります。<br><br>


<br>



<h4 id="gu2">
<p><div class="box97"></p>
★商品のお届けについて</div> </h4>
<br>

商品の発送は、ご注文日から2〜5営業日以内に発送を予定しております。
但し、PayPal決済につきましては、ご入金確認後の発送とさせていただきます。
また、お届け日時については現状、指定日希望を承っておりません。<br>
※営業日：月〜金（祝祭日、お盆時期、年末年始休暇を除く）<br><br>


下記の場合には発送が遅れる場合がございます。<br>

・弊社指定休日を挟む場合<br>
・注文状況<br>
・配送時の道路事情<br>
・離島等<br>
※発送は日本国内のみとさせていただいております。<br><br>

★宅配業者<br>
佐川急便<br><br>





<h4 id="gu3">
<p><div class="box97"></p>
★送料について</div> </h4>
<br>



・配送料：全国一律650円<br>
※商品の配送は日本国内のみとさせていただきます。<br>
※商品の配送は受注番号ごとに行います。同一日の受注、発送でも受注をまとめることはできません。<br>
※ギフト包装は承っておりません<br><br>

返品・交換・ご注文キャンセルについて<br>

商品に初期不良、またはご注文と異なる商品が到着した場合など当社に起因する交換または返品をさせていただきます。
商品の到着後7日以内にお問合せください。（交換は同一商品に限ります）<br>
また、その際にかかる送料は、当社にて負担いたします。<br><br>

（返金について）<br>
商品に初期不良、またはご注文と異なる商品が到着した場合など当社に起因する場合でご希望される方のみ返金の対応をさせていただきます。<br>
<br>
（対象）<br>
・商品の到着後7日以内にメールにてご連絡いただいた方（ご連絡がない場合はお手続き致しかねます）<br>
・未開封・未使用の商品のみ承っております。<br>
<br>
（返金額）<br>
商品代金（税込）全額ご返金いたします。<br>
※商品の返送代金は、当社にて負担いたしますので着払いにてお送りください。<br>
<br>
（返品について）<br>
ご注文手続き完了後のお客様のご都合によるキャンセル、返品は承っておりません。
また、ご注文手続き完了後の商品の変更や追加、数量の変更は承っておりません。<br><br>

<h4 id="gui4">
<p><div class="box97"></p>
★お問合せ</div> </h4>
<br>

info@tmsmusic.tokyo<br>
（土日祝を除く平日のみ）<br>

※お問合せはメールのみで受け付けております。<br>
※ご返信まで、2〜3日いただく場合もございますのであらかじめご了承ください。<br><br>



</div>
</div>
</div><!--col10-->

</div><!--style2 -->


<div class="col-md-1 hidden-xs"></div>


</div></div>
</div>



</div><!--row-->
</div><!-- /container -->

<br><br>



<div class="footer">
<% include ../par/foot %>
</div>


</body>

