
<div class="col-12">
<div class="box100">

<div class="row">

<div class="col-md-2 hidden-xs"></div>

<div class="col-md-9">

<div class="col-md-4 " style="color:black" >


<p class="box90">&nbsp; &nbsp;お支払いについて</p>
<br>
<p class="cart2">各詳細はこちらをご確認ください。
<br>

決済はpaypal、paydyの2種類よりお選びいただけます。</p> 
<br>

<p class="box92">★ PayPal(クレジットカードでのお支払い)</p>
<p class="cart2">以下のカードブランドがご利用いただけます。</p>

<!-- PayPal Logo -->
<p class="cart3"><a href="https://www.paypal.com/jp/webapps/mpp/logo/about"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/jp/developer/Logo_203_80.png"></a></p><!-- PayPal Logo -->

<br>

<p class="box92">★ paidy（コンビニ/銀行でのお支払い）</p>
<br>
<p class="cart4"><a href="https://paidy.com"><img src="../img/shop/paidy.png" class="img-responsive" width="300" height="50"></a></p>

<p class="cart2"><br>
Paidyは、メールアドレスと携帯電話番号だけでお支払いいただける決済方法です。
事前登録・クレジットカードは必要ありません。<br><br>

(支払手数料）<br>
口座振替(支払手数料：無料)<br>
コンビニ(支払手数料：350円税込)<br>
銀行振込(支払手数料：金融機関により異なります)<br>
</p>
<br>

</div>



<div class="col-md-4" style="color:black" >

<div class="box101">
<p class="box90">&nbsp; &nbsp; お届け・配送について</p>

<br>
<p class="box92">★ 送料について</p>

<p class="cart2">・配送料：全国一律650円<br>
<br>

※　商品の配送は日本国内のみとさせていただきます。<br>
※　商品の配送は受注番号ごとに行ないます。同一日の受注、発送でも受注をまとめることはできません。<br>
※　ギフト包装は承っておりません。<br></p>

<br>

<p class="box92">★ 商品お届けまでの日数</p>
<p class="cart2">
商品の発送は、ご注文日から2〜5営業日以内に発送を予定しております。<br>
(但し、PayPal決済につきましては、ご入金確認後の発送とさせていただきます。)<br>
また、お届け日時については現状、指定日希望を承っておりません。<br>
※ 営業日：月〜金（祝祭日、お盆時期、年末年始休暇を除く）<br></p>


<p class="cart2">※下記の場合には発送が遅れる場合がございます。<br>

・弊社指定休日を挟む場合<br>
・注文状況<br>
・配送時の道路事情<br>
・離島等<br>
※現状、発送は日本国内のみとさせていただいております<br>


★ 宅配業者<br>
佐川急便<br><br>

</p></div>


</div>

<div class="col-md-4" style="color:black">
<p class="box90"> &nbsp; &nbsp;ご注文に関して</p>
<br>
<p class="box92">★返品・交換・ご注文キャンセルについて</p>

<p class="cart2">
お客様のご都合によるキャンセル・返品交換は承っておりません。ご注文内容をよくご確認の上、ご注文ください。<br>
また、ご注文手続き完了後の商品の変更や追加、数量の変更は承っておりません。<br><br>

商品に初期不良、またはご注文と異なる商品が到着した場合など当社に起因する交換または返品をさせていただきます。(未開封・未使用品に限り）<br><br>
商品の到着後7日以内にお問合せください。（交換は同一商品に限ります／またご連絡がない場合はお手続きいたしかねます）<br>
また、その際にかかる送料は、当社にて負担いたします。<br><br>

</p>

<p class="box92">★お問合せ</p>
<p class="cart2"> info@tmsmusic.tokyo<br>
（土日祝を除く平日のみ）<br>

※お問合せはメールのみで受け付けております。<br>
※ご返信まで、2〜3日いただく場合もございますのであらかじめご了承ください。<br>
</P>
<br>
</div>
</div>

</div>



<div class="col-md-1 hidden-xs"></div>

