<div class="footer">

<div class="row"></div>
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>


<a href="https://twitter.com/axell_official" target="_blank"><i class="fab fa-twitter-square fa-1x fa-fw" style="color:lightblue" ></i></a>
<a href="https://ameblo.jp/dansou-axell/" target="_blank"> <i class="fas fa-edit fa-1x fa-fw" style="color:green"></i></a>
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"> <i class="fab fa-youtube fa-1x fa-fw" style="color:red"></i></a>

</div>
</div>
