<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">



<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre" rel="stylesheet">
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="AXELL,アクセル,ボーイッシュガールズグループ,THE HOOPERS,風男塾,ケイダッシュ・ステージ,千知,LEE,詩音,碧,翔,JOL原宿,ばなにゃ,アニメ" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- jQuery -->
<script src="http://www.google.com/jsapi"></script>

<link href="../../css/axe.css" rel="stylesheet">
<link href="../../css/footer.css" rel="stylesheet">
<link href="../../css/dis.css" rel="stylesheet">
<link href="../../css/info.css" rel="stylesheet">
<link href="../../css/mail.css" rel="stylesheet">
<link href="../../css/news.css" rel="stylesheet">
<link href="../../css/profile.css" rel="stylesheet">
<link href="../../css/shop.css" rel="stylesheet">
<link href="../../css/cart.css" rel="stylesheet">
<link href="../../css/video.css" rel="stylesheet">
<link href="../../css/ie.css" rel="stylesheet">
<link href="../../css/form.css" rel="stylesheet">
<link href="../../css/out.css" rel="stylesheet">
<link href="../../css/guide.css" rel="stylesheet">


<title>axell</title>
</head>
