<div align="right">

<a class="<%=(lang=="ja"?"active":"")%>" href="/shop?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="/shop?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>

</div>


