<<<<<<< HEAD
<div class="card">
<div class="card-header">
アカウントをお持ちの方
</div>

<div class="card-body">

<form action="/shop" method="post">
    <div class="form-group">
    E-mail:
<input id="ema" type="email" name="email"  size="15"><br>
    </div>

    <div class="form-group">
Password:
<input id="pss" type="text" name="pss" value="" size="15"><br><br>
    </div>
<button type="submit" class="btn btn-default">LOG IN</button>

</form>

</div>
</div>

<div class="card">
<div class="card-header">
はじめての方<br>
</div>

<div class="card-body">

<button type="submit" class="btn btn-info">SIGN IN</button>
</div>
</div>


<br>

<div class="card">

<div class="card-header">
パスワードを忘れた方
</div>

<div class="card-body">
<form action="/shop/usr/for" method="get">
<button type="submit" class="btn btn-info">CLICK</button>
</form>
</div>

</div>
=======
<h5><div class="badge badge-secondary">ログイン</div></h5>

<form action="/shop" method="post">
<div class="form-group">
E-mail:<br><input type="email" class="form-control" name="email"  size="20">
</div>

<div class="form-group">
Password:<br><input type="text" class="form-control" name="pss" value="" size="20">
</div>
<button type="submit" class="btn btn-secondary">LOG IN</button>
</form>

<br>

SHOPのご利用にはユーザー登録が必要となります。
<br><br>
<div class="btn btn-secondary">
<a href="/shop/usr/sig">ユーザー登録はこちら</a>
</div></h5>
<br>

>>>>>>> d03f8c41f6f1b4f8d2a6b5e10b31316d316240b8

