<form action="/shop" method="post">
E-mail:<br><input id="ema" type="text" name="email"  size="15"><br>
Password:<br><input id="pss" type="text" name="pss" value="" size="15"><br><br>
<button type="submit" class="btn btn-default">LOG IN</button>
</form>

<br>
<%= shop.noac %>
<form action="/shop/usr/sig" method="get">
<button type="submit" class="btn btn-info">SIGN IN</button>
</form><br>

<%= shop.nopss %>
<form action="/shop/usr/for" method="get">
<button type="submit" class="btn btn-info">CLICK</button>
</form>

<br>


