<div class="card">
<div class="card-body">

<form action="/shop" method="post">
<div class="form-group">
E-mail:
<input class="form-control" id="ema" type="email" name="email"  size="15"><br>
</div>

<div class="form-group">
Password:
<input class="form-control" id="pss" type="text" name="pss" size="15"><br><br>
</div>
<button type="submit" class="btn btn-info">ログイン</button>

</form>

</div>
</div>

<div class="card">
<div class="card-header">
はじめての方<br>
</div>

<div class="card-body">

<button type="submit" class="btn btn-info">SIGN IN</button>
</div>
</div>


<br>

<div class="card">

<div class="card-header">
パスワードを忘れた方
</div>

<div class="card-body">
<form action="/shop/usr/for" method="get">
<button type="submit" class="btn btn-info">CLICK</button>
</form>
</div>

</div>

