<<<<<<< HEAD
﻿<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
<a class="navbar-brand" href="#">Logo</a>
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>

<li class="nav-item"><a class="nav-link" href="/shop">shop</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/cart">cart</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/my">my</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/history">history</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/note/guide">guide</a></li>

    <li class="nav-item">
      <a class="nav-link" href="/mail">mail</a>
    </li>
  </ul>

</nav>

=======
﻿ <nav class="navbar navbar-expand-md bg-dark navbar-dark ml-auto ">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><%= shop.nam %></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#col">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="col">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="/shop">shop</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/shop/cart">cart</a>      </li>
      <li class="nav-item"><a class="nav-link" href="/shop/my">my page</a>      </li>
      <li class="nav-item"><a class="nav-link" href="/shop/history">history</a>      </li>
      <li class="nav-item"><a class="nav-link" href="/shop/note/guide">guide</a>      </li>
    </ul>
  </div>
</nav> 

>>>>>>> e3998c90edb84bd4903e2b54245d2b93f4f37341
