<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
<a class="navbar-brand" href="/">
    <img src="img/ban/logo.png" alt="Logo" style="width:40px;">
  </a>
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="shop">shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mail">mail</a>
    </li>
  </ul>

<<<<<<< HEAD
=======
<a class="navbar-brand" href="/">AXELL OFFICIAL SITE</a>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar">
<span class="sr-only"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>


<div class="collapse navbar-collapse" id="bar">
<font size="3" color="white">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a href="/shop">HOME</a></li>
<li><a href="/shop">SHOP</a></li>
<li><a href="/shop/cart">CART</a></li>
<li><a href="/shop/my">MY PAGE</a></li>
<li><a href="/shop/history">HISTORY</a></li>
<li><a href="/shop/note/guide">GUIDE</a></li>


</ul>
</div>
>>>>>>> b26f4a5d27f3588a27d0aa65c407232aa059ab26
</nav>


