<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
<a class="navbar-brand" href="/">
    <img src="img/ban/logo.png" alt="Logo" style="width:40px;">
  </a>
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/shop">shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="shop/cart">cart</a>
    </li>
  </ul>

</nav>


