<form action="/shop/usr/out" method="get">
<div class="form-group">
<input class="form-control" name="/shop/usr/out" type="hidden" value="out">
</div>

<button type="submit" class="btn btn-primary">log out</button>
</form>

