<nav class="navbar navbar-expand-md bg-dark navbar-dark ml-auto ">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><%= shop.nam %></a>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="col">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="/shop">shop</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/mer/up">up</a>      </li>
      <li class="nav-item"><a class="nav-link" href="/mer/ins">insert</a>      </li>
      <li class="nav-item"><a class="nav-link" href="/mer/del">del</a>      </li>
    </ul>
  </div>
</nav> 

