<div class="container-fluid">
<div class="row">
<div class="col-sm-12">


<div class="movie-wrap">

<iframe width="560" height="315" src="https://www.youtube.com/embed/B7AdZD5uZPs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="title32"><%=video.V0002%><br>
<%=video.V0003%>&nbsp;
2016.08.12 公開

</div>

</div>
</div>
</div>

