<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">

<div class="well col-lg-2 col-sm-12">
<% if(usr!=="no usr") {%>
<div class="label label-info">
welcome: 
<%= usr%>
</div>
<%}else{ %>
<div class="label label-warning">
not logged in
</div>
<%} %>

</div>

<div class="well col-lg-8 col-sm-12">

<div class="label label-info ">
<span class="text-center">
<%= title %></span>
</div>
<br><br>
<p>

<% if (typeof uni !=="undefined") {%>
<%= uni %>
<%} else {%>
no unit
<%} %>
<br>

<% if (typeof item!=="undefined") {%>
<%= item%>
<%} else{ %>
no item
<%} %>
</p>

</div>
<% include par/2side %>

</div>


</div>

</body>

