<div class="label label-info">log in </div>
<br><br>
<form action="conf" method="post">
usr:
<input type="text" name="usr" value="">
pss:
<input type="text" name="pss" value="">
<br><br>
<button type="submit" class="btn btn-default">submit</button>
</form>
not a member?
<br><br>
<div class="label label-warning">
<a href="sig">sign up</a>
</div>
<br><br>


