<% include head %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/sto">けいい</a></li>
      <li><a href="/his">れきし</a></li>
      <li><a href="/com">たしゃ</a></li>
      <li><a href="/adv">メリット</a></li>
      <li><a href="/dis">デメリット</a></li>
    </ul>
  </div>
</nav>
