<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">

<div class="row">

<% include par/2side %>
<div style="background-color:lime" class="well col-lg-8 col-md-12">
purchased!
</div>
<% include par/2side %>

</div>

</div>

</body>


