<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<% include par/nav %>

<div class="container-fluid">


<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="profile?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="profile?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>


<div class="row">

<% include par/mem/all %>
</div><!--row-->

<hr>

<!--col12-->

<div class="col-sm-12">
<div class="row">

<% include par/prof%>
<br>

</div><!--col12-->
</div>
</div>


<!-- FOOTER -->
<div class="footer">
<% include par/foot %>
</div>



</body>
</html>
