<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">
<% include par/2side %>

<div class="well col-lg-8 col-sm-12">

<h1 class="text-center"><%= title %></h1>
<br>
<div class="well col-lg-6 col-sm-12">
<%if(typeof payid!=="undefined"){%>
<%= payid %>
<%} %>   
<%if(typeof payid!=="undefined"){%>
<%= payid %>
<%} %>   

</div>

<div class="col-lg-6 col-sm-12">

</div>

</div>
<% include par/2side %>
</div>
</div>

</body>


