<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<ul id="sit">
<a class="navbar-brand" href="/">AXELL OFFICIAL SITE</a>
</div>
<div class="collapse navbar-collapse" id="bar">
<font size="3" color="white">
<ul class="nav navbar-nav navbar-right">


<li><a href="cart">CART</a></li>
<li><a href="shop">SHOP TOP</a></li>
<li class="active"><a href="/">HOME</a></li>


</ul>
</div>
</div>
</nav>

