<head>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre" rel="stylesheet">

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="http://www.google.com/jsapi"></script>

<link href="../../css/axe.css" rel="stylesheet">
<link href="../../css/footer.css" rel="stylesheet">
<link href="../../css/dis.css" rel="stylesheet">
<link href="../../css/info.css" rel="stylesheet">
<link href="../../css/mail.css" rel="stylesheet">
<link href="../../css/news.css" rel="stylesheet">
<link href="../../css/profile.css" rel="stylesheet">
<link href="../../css/shop.css" rel="stylesheet">
<link href="../../css/video.css" rel="stylesheet">
<link href="../../css/ie.css" rel="stylesheet">
<link href="../../css/form.css" rel="stylesheet">
<link href="../../css/guide.css" rel="stylesheet">

<title>4loc</title>

</head>
