<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
<ul class="navbar-nav">
<a class="navbar-brand" href="#">Logo</a>
<li class="nav-item"><a class="nav-link" href="/shop">home</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/cart">cart</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/my">my</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/history">his</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/note/guide">guide</a></li>
<li class="nav-item"><a class="nav-link" href="/mail">mail</a></li>
</ul>

</nav>


