<!--ここから-->
<div class="style2"><br>
<div id="0811" class="title4">【ライブ詳細】2018年8月11日 AXELL 1st ONEMAN LIVE "ハッピーホリデー！" チケット発売情報決定!</div><br>

AXELL初のワンマンライブの詳細が決定いたしました。<br>
AXELL初めてのワンマンライブ。皆さまと一緒に最高の空間を作りたいと思いますのでぜひお越しください！<br>
<br>
【ライブ詳細】<br>
■公演タイトル：AXELL 1st ONEMAN LIVE ”ハッピーホリデー！”<br>
■開催日時：2018年8月11日（土） OPEN&nbsp;11:30 / START&nbsp;12:00<br>
■会場：<a href= "https://www.live-loop.com/">代官山LOOP</a> <br>
■チケット：オールスタンディング 3,000円 (税込・入場時別途ドリンク代必要・整理番号付き) <br>
6月9日12:00よりイープラスにて発売中<br>
■購入ページURL <a href= "http://sort.eplus.jp/sys/T1U14P0010843P006001P002263450P0030001" target="_blank">（パソコン／スマートフォン／携帯共通）</a><br>


 <div class="foot1">2018.6.04</div></div><br>


