<!--ここから-->
<div class="style2">
<div id="08113" class="title4">
【グッズ詳細】2018年8月11日 AXELL 1st ONEMAN LIVE"ハッピーホリデー！" のグッズ一覧発表!</div><br>


AXELL初のワンマンライブにて販売するライブグッズが完成いたしました！。
ぜひライブ会場で手に入れてくださいね!
※特典会等の詳細につきましては後日発表させていただきます。<br>
<br>

<div align="center">
<img src="img/info/20180811goods.png" class="img-responsive"  width="300" height="100"  class="btn btn-white btn-lg" data-toggle="modal"  class="modal-syncer" data-target="#myModal-01">




<div id="myModal-01" class="modal fade" role="dialog">
<div class="modal-lg" role="document">
<div class="modal-content">


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" style="color:black"></h4>
</div><!--modal-header-->

<div class="modal-body">
<img src="img/info/20180811goods.png"  alt="" width="1200" height="1000" class="img-responsive center-block" alt=""/>
<br>

</div><!--modal-body-->

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
</div><!--modal-fotter-->

</div>
</div>
</div>
</div>



























 <div class="foot1">2018.08.03</div></div><br>


