<!--ここから-->
  <div class="style2">
  <div id="090809" class="title4">【イベント詳細】ノタFES 2018出演決定！
</div><br>

9月8日(土)、9日(日) 東武動物公園にて、ソーシャルアイドルNOTALLさんのデビュー4年目の感謝の意を込めた「ノタFES 2018」出演が決定しました！！<br>
「楽しさ」を「みんなで創る」そして「SNSで発信・共有」をテーマに、夏の最後の思い出を作りましょう！<br><br>



■開催日時：2018年9月8日（土）〜9日（日）<br>
■時間：入園9:30 / 入場10:15 / 開演11:00 <br>
■開催場所：東武動物公園<br>
■チケット：先行販売受付中！<br>
＜超早割プレミアムフリーシート先行販売中！＞<br>
・<a href="https://reco-ti.jp/l?dn=2000"> リコチケ</a><br>
・<a href="http://eplus.jp/notafes/"> イープラス</a><br>

※動物園入場料込みの値段です。<br>
※オリジナルリストバンド（プレミアムフリーシート購入者のみ）が付きます。<br>
※プレミアムフリーシートは、整理番号での入場となります。<br>
※プレミアムシートの入場順は、リコチケ→2日通し券→各日券の順となります。<br><br>



<div align="center">
<img src="img/info/nota_fes.jpg" class="img-responsive"  width="500" height="800" >

※出演日は調整中につき随時オフィシャルサイトにて発表予定です。<br><br><br>

</div>

主催：ノタFES 2018 実行委員会<br>
お問い合わせ先:TEL：03-5610-7744<br>
MAIL：notafes@wallop.co.jp<br>


■イベント公式サイト<a href="https://www.notafes.com">：ノタFES</a><br><br>

 <div class="foot1">2018.8.07</div></div><br>
<!--ここまで--> 


