<!--ここから-->
  <div class="style2">
  <div id="0830" class="title4">【イベント詳細】東京常夏フェス出演決定！
</div><br>

8月29日（水）〜31（金）の3日間開催される「東京常夏フェス」に出演が決定いたしました。<br>
出演日等の詳細は後日発表いたします。<br>
<br>

■開催日時：2018年8月29日（水）〜31日（金）<br>
※AXELLの出演は8月30日（木）16:45〜のステージになります。<br>
※AXELL物販時間は、15：30〜16：30になります。<br>

■開催場所：上野恩賜公園　野外ステージ<br><br>


■イベント公式サイト<a href="https://ramunestar.co.jp/ttf">：東京常夏フェス</a><br><br>

 <div class="foot1">2018.7.25</div></div><br>
<!--ここまで--> 


