<!--ここから-->
<div class="style2"><br>
<div id="0613" class="title4">【お知らせ】初SHOWROOMのレギュラー番組が決定いたしました！ 
</div>
【詳細】<br>
■番組名：未定（第一回の放時にみんなで決めましょう！）<br>
■放送日：2018年7月19日（木）より隔週木曜19:00〜19:45<br>
■番組URL:<a href= "https://www.showroom-live.com/axell" target="_blank">SHOWROOM</a><br>

 <div class="foot1">2018.6.13</div></div><br>


