<div class="style2">
<div id="0322" class="title4">■「JOL*fes」出演決定！■</div>
3月22日（木）にTSUTAYA O-EASTにて行われる「JOL*fes」への出演が決定しました！<br>
■イベント名：JOL＊fes（ジョルフェス）<br>
■会場：TSUTAYA O-EAST ＜住所：渋谷区道玄坂2-14-8 2F＞<br>
■OPEN 14:00 / START 15:00（予定）<br>
■チケット：\3,800&nbsp;(税込)<br>
※当日別途ドリンク代を頂戴します。<br>
■チケット発売日：2月10日(土)10:00よりプレイガイドにて販売<br>
その他詳細は、<a href="https://teens.mynavi.jp/jolfes2018/" target="_blank">JOL＊fesオフィシャルホームページ</a>&nbsp;内をご確認ください。<br>
皆さまぜひ応援にお越しください！<br>
<div class="foot1">2018.1.31</div></div>
