<div class="footer">

<div class="row"></div>
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>


<a href="https://twitter.com/axell_official" target="_blank"><i class="fab fa-twitter-square fa-1x fa-fw" style="color:lightblue" ></i></a>
<a href="https://ameblo.jp/dansou-axell/" target="_blank"> <i class="fas fa-edit fa-1x fa-fw" style="color:green"></i></a>
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"> <i class="fab fa-youtube fa-1x fa-fw" style="color:red"></i></a>
<a href="http://tmsmusic.tokyo/" target="_blank"> <i class="fas fa-music fa-1x fa-fw"></i></a>
<a href="https://twitter.com/axell_official" target="_blank"><p><font color="#ffffff">twitter</a>/
<a href="https://ameblo.jp/dansou-axell/" target="_blank"><font color="#ffffff">blog</a>/
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"><font color="#ffffff">YouTube</a>/
<a href="http://tmsmusic.tokyo/" target="_blank"><font color="#ffffff">Label</a><p>
<a href="notation" target="_blank"><font color="#868989"><font size="2px">特定商取引法に関する表示 </a>/
<a href="http://tmsmusic.tokyo/privacy" target="_blank"><font color="#868989">privacy policy</a></font>
<br>
<font color="#ffffff">
<span>&#169;&nbsp;TMS MUSIC CO.,LTD. All Rights Reserved.</span>

</div>
</div>
