<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
<ul class="navbar-nav">
<a class="navbar-brand" href="#">Logo</a>
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/shop">shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mail">mail</a>
    </li>
  </ul>

</nav>

