<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
<div class="navbar-header">

<<<<<<< HEAD
<a class="navbar-brand" href="/">low-cart</a>
=======
<a class="navbar-brand" href="/">AXELL OFFICIAL SITE</a>
>>>>>>> b4e42674530a2cec2c6936aca8a2c2ca55056558
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar">
<span class="sr-only"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>


<div class="collapse navbar-collapse" id="bar">
<font size="3" color="white">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a href="/">HOME</a></li>
<<<<<<< HEAD
<li><a href="shop">shop</a></li>
=======
<li><a href="news">NEWS</a></li>
<li><a href="info">INFO</a></li>
<li><a href="profile">PROFILE</a></li>
<li><a href="disc">DISC</a></li>
<li><a href="schedule">SCHEDULE</a></li>
<li><a href="video">VIDEO</a></li>
>>>>>>> b4e42674530a2cec2c6936aca8a2c2ca55056558
<li><a href="mail">MAIL</a></li>


</ul>



</div>
</nav>

