<div class="container-fluid">
<div class="row">
<div class="col-sm-12">

<div class="movie-wrap">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XhPi1qKgB8Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="title32"><%=vid.V0005%><br>                    
<%=vid.VD003%>


</div>

</div>
</div>
</div>

