<!DOCTYPE html>
<html>
<% include par/head%>
<body>
<!-- menu -->

<% include par/nav%>
<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12" style="color:red;background-color:white">

<h2><%=title%></h2>

<div align="center">
<br>
</div><!-- /center-->
</div><!-- /col12-->
</div><!-- /row-->

<div class="footer"><% include par/foot %></div>

</div>
</div>
</div><!-- /container-fluid-->

</body>
</html>

