<% include head%>

<div class="container-fluid">
<div align="center">

<div class="col-lg-12" style="background-color:black">
<a href="https://twitter.com/axell_official" target="_blank"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
<a href="https://ameblo.jp/dansou-axell/" target="_blank"> <i class="fas fa-edit fa-2x fa-2x fa-fw"></i></a>
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"> <i class="fab fa-youtube fa-2x fa-fw"></i></a>
<a href="http://tmsmusic.tokyo/" target="_blank"> <i class="fas fa-music fa-2x fa-fw"></i></a>
<a href="https://twitter.com/axell_official" target="_blank"><p><font color="#ffffff">twitter</a>/
<a href="https://ameblo.jp/dansou-axell/" target="_blank"><font color="#ffffff">blog</a>/
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"><font color="#ffffff">YouTube</a>/
<a href="http://tmsmusic.tokyo/" target="_blank"><font color="#ffffff">Label</a><p>
<a href="notation.htm" target="_blank"><font color="#868989">特定商取引法に関する表示 </a>/
<a href="http://tmsmusic.tokyo/" target="_blank"><font color="#868989">privacy policy</a>
<div align="center">
<div class="copy">
<span>&#169;&nbsp;TMS MUSIC CO.,LTD. All Rights Reserved.</span>
</div><!-- /copy -->

</div><!-- cen-->
</div><!-- cont-->

