<h4><div class="label label-default">ユーザー登録がお済みの方 </div></h4>
<form action="/shop" method="post">
E-mail:<br><input type="email" name="email"  size="25">
<br>
Password:<br><input type="text" name="pss" value="" size="25">
<br><br>
<button type="submit" class="btn btn-default">LOG IN</button>
</form>

<br>

<h4><div class="label label-default">ユーザー登録がお済みでない方 </div></h4>
SHOPのご利用にはユーザー登録が必要となります。
<br><br>
<div class="btn btn-default">
<a href="sig">ユーザー登録はこちら</a>
</div></h4>
<br>


