
<div class="container-fluid">
<div class="row">

<div class="table-responsive">
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="globalnavi" class="table" >
 <tbody>
 <tr>
 <td align="center" valign="middle"><a href="index.htm" target="_top">HOME</a></td>
 <td align="center" valign="middle"><a href="info.htm" target="_top">INFO</a></td>
 <td align="center" valign="middle"><a href="profile.htm" target="_top">PROFILE</a></td>
 <td align="center" valign="middle"><a href="disc.htm" target="_top">DISC</a></td>
 <td align="center" valign="middle"><a href="schedule.htm" target="_top">SCHEDULE</a></td>
 <td align="center" valign="middle"><a href="media.htm" target="_top">MEDIA</a></td>
 <td align="center" valign="middle"><a href="video.htm" target="_top">VIDEO</a></td>
 <td align="center" valign="middle"><a href="http://tmsmusic.tokyo/mail" target="_blank">CONTACT</a></td>
 </tr>
 </tbody>
 </div>
 </div></div></div>
 
 </table> 
 