
.title4 {
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	border-bottom: thin dotted rgba(0,0,0,0.39);
	margin-bottom: 10px;
}

.foot1 {
	text-align: right;
	border-top: thin dotted rgba(0,0,0,0.39);
	margin-top: 10px;
}

.style2 {
	padding-bottom: 10px;
	border: medium solid rgba(0,0,0,0.10);
        font-size:14px;
        font-family:'Ludica Sans Unicode',sans-serif;
        width:100%;
        padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	margin-bottom: 10px;
}


.box9 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #000000;
    background: #f7f7f7;
    border-top: dotted 2px #616363;
    font-family: 'Ludica Sans Unicode', sans-serif;
    font-size:15px;


}
.box10 p {
    margin: 0; 
    padding: 0;
}





/*アコーディオン*/

<style type="text/css">
.panel-heading {
	cursor:pointer;
}

.accordion-toggle a:after {
         font-family:'Glyphicons Halflings';
         content:"\e113";
         float:right;
         color:inherit;
 }

.accordion-toggle a.collapsed:after {
	font-family:'Glyphicons Halflings';
	content:"\e114";
	float:right;
	color:inherit;
}
</style>


