<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="well col-md-3 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="badge badge-info">&nbsp; <%= usr%>&nbsp;さん </div>
<br><br>

<% include par/out %>

<%}else{ %>
<% include par/login %>
<%} %>
</div><!-- col3-->

<!--- main ----- -->

<div class="col-sm-9 col-sm-12">
<p class="box90">&nbsp;注文内容ご確認ページ（<span class="badge badge-danger">Paidy</span>決済）</p>

<% include par/aid/left %>
</div><!-- col6-->
</div><!-- row-->

<div class="row">
<div class="col-sm-6 col-sm-12">
<% include par/aid/aid %>
</div><!-- row-->

</div><!-- row-->
</div>

<% include par/foot %>


