<div class="box1" style="color:black">
<img src="img/mem/lee.png" height="160" align="" class="btn btn-white btn-lg" data-toggle="modal" class="modal-syncer" data-target="#myModal-02">
<font size="4px"><p>LEE</p></font>
</div>

<div id="myModal-02" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" style="color:black">LEE</h4>
</div><!--modal-header-->

<div class="modal-body">
<img src="img/mem/lee2.png" alt="" width="400" height="600" class="img-responsive center-block" alt=""/>
<br>
<div align="center" style="color:black">
<p class="content1">BIRTH DAY：1998年10月9日</p> 
<p class="content1">BLOOD：O ／ FROM：千葉</p>
<p class="content1">『THE HOOPERS』と兼任</p>
</div><!--modal-body-->
</div><!--center-->

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
</div><!--modal-fotter-->

</div>
</div>
</div>
