<div class="box1" style="color:black">
<img src="img/mem/sho.png" height="160" align=""/ class="btn btn-white btn-lg" data-toggle="modal" class="modal-syncer" data-target="#myModal-05">
<font size="4px"><p>翔-SHO-</p></font>
</div>

<div id="myModal-05" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" style="color:black">翔-SHO-</h4>
</div>

<div class="modal-body">
<img src="img/mem/sho2.png" alt="" width="400" height="600" class="img-responsive center-block" alt=""/>
<br>
<div align="center" style="color:black">
<p class="content1">BIRTH DAY：2000年9月14日</p>
<p class="content1">BLOOD：A ／ FROM：東京</p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
</div>

</div>
</div>
</div>

