<div class="container-fluid">


<div class="row">
<div class="col-sm-6">
<div class="col-sm-12"><% include vid/1226 %></div>
</div>

<div class="col-sm-6">
<div class="col-sm-12"><% include vid/1206 %></div>
</div>
</div>



<div class="row">
<div class="col-sm-6">
<div class="col-sm-12"><% include vid/0830 %></div>
</div>


<div class="col-sm-6">
<div class="col-sm-12"><% include vid/0812 %></div>
</div>
</div>

<div class="row">


<div class="col-sm-6">
<div class="col-sm-12"><% include vid/0704 %></div>
</div>

<div class="col-sm-6">
<div class="col-sm-12"></div>
</div>





</div>
</div>


